html, body {
  font-family: $font-1;
  font-weight: 400;
  color: $color-1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img, video {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: rem-calc(32);
  font-weight: 500;
  line-height: 1.2em;
  margin-bottom: 1.05em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.text-container {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.45em;
  letter-spacing: 0;

  p, ul, ol {
    margin-bottom: 1em;
  }
}

.main {
  overflow: hidden;
  padding-top: 68px;
  @include laptop {
    padding-top: 106px;
  }
  @include tablet {
    padding-top: 90px;
  }
  @include mobile {
    padding-top: 50px;
  }
}

.section {
  padding: 85px 0 90px;
  color: $color-3;
  @include laptop {
    padding: 67px 0 162px;
  }
  @include mobile {
    padding: 35px 0 200px;
  }

  &.-has-circle {
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: '';
      width: 345px;
      height: 345px;
      background: $color-4;
      border-radius: 50%;
      z-index: 1;
      @include laptop {
        width: 280px;
        height: 280px;
      }
      @include tablet {
        width: 222px;
        height: 222px;
      }
      @include mobile {
        width: 145px;
        height: 145px;
      }
    }
  }

  &:nth-of-type(3n+1) {
    background: $color-5;
  }

  &:nth-of-type(3n+2) {
    background: $color-2;
  }

  &:nth-of-type(3n+3) {
    background: $color-3;
    color: $color-2;

    .heading {
      color: $color-2;
    }
  }
}

.heading {
  font: {
    family: $font-2;
    weight: 600;
  }
  color: $color-heading;
}

.section-header {
  &__subheading {
    font: {
      weight: 400;
      size: 12px;
    }
    line-height: 20px;
    letter-spacing: .08em;
    text-transform: uppercase;
    @include tablet {
      font-size: 11px;
    }
  }

  &__heading {
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 30px;
    @include tablet {
      font-size: 35px;
      line-height: 42px;
    }
    @include mobile {
      margin-bottom: 20px;
    }
  }
}

.section-text {
  @include mobile {
    text-align: center;
  }
}

.paragraph {
  font: {
    weight: 300;
    size: 16px;
  }
  line-height: 24px;
  margin-bottom: 26px;
  @include tablet {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 16px;
  }

  &:last-of-type {
    margin-bottom: 35px;
    @include tablet {
      margin-bottom: 30px;
    }
  }
}

.blockquote {
  margin-left: 45px;
  position: relative;
  @include mobile {
    text-align: center;
  }

  &__content {
    margin-bottom: 20px;
    position: relative;

    &::before,
    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 41px;
      height: 34px;
      background: url('../img/quotes.svg') no-repeat;
      background-size: 100%;
      transform-origin: center;
      @include tablet {
        width: 35px;
        height: 29px;
      }
    }

    &::before {
      right: calc(100% + 10px);
      top: -16px;
      transform: rotate(180deg);
    }

    &::after {
      left: calc(100% + 10px);
      bottom: -16px;
    }
  }

  &__name {
    margin-bottom: 2px;
    font: {
      family: $font-2;
      size: 16px;
    }
    line-height: 22px;
    @include mobile {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__source {
    font: {
      family: $font-1;
      size: 9px;
      weight: 300;
    }
    line-height: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
  }
}

.blockquote__text,
.blockqoute__name {
  font: {
    family: $font-2;
    size: 16px;
    weight: 400;
  }
  line-height: 22px;
  @include tablet {
    font-size: 14px;
    line-height: 19px;
  }
}

.img-wrapper {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;

  &__img {
    margin-bottom: 38px;
    @include tablet {
      margin-bottom: 28px;
    }
  }

  &__thumbnail {
    width: 100%;
    object-fit: cover;
  }

  &__header {
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 16px;
    }
  }

  &__heading {
    font: {
      family: $font-2;
      weight: 400;
      size: 28px;
    }
    line-height: 39px;
    @include tablet {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__subheading {
    font: {
      weight: 500;
      size: 12px;
    }
    line-height: 20px;
    letter-spacing: .08em;
    text-transform: uppercase;
  }

  &__body {
    font: {
      size: 16px;
      weight: 300;
    }
    line-height: 24px;
    @include tablet {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__paragraph {
    font-weight: 400;
  }
}

.social {
  display: inline-flex;
  margin: 0 -6px;

  &__link {
    display: inline-block;
    margin:  0 6px;
  }

  &__icon {
    fill: none;
    transform: scale(1) translateZ(0);
    transition: all .3s;

    &:hover {
      transform: scale(1.1) translateZ(0);
    }
  }
}

.swiper-pagination-bullet {
  opacity: 1;
  background: #F3EFE5;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &-active {
    background: $color-4;
  }

  &:hover:not(.swiper-pagination-bullet-active) {
    opacity: 1;
    background: #F3EFE5;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 15px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
  background-image: url('../img/arrow.svg');
  transform-origin: center;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-next,
.swiper-button-prev {
  background-size: auto;
}

.slider {
  &__arrows {
    position: absolute;
    top: 100px;
    height: 24px;
    width: 100%;
    @include tablet {
      top: 70px;
    }
    @include mobile {
      top: auto;
      bottom: -10px;
    }
  }

  &__arrow {
    position: absolute;
    top: 0;
    cursor: pointer;
    height: 24px;

    &.prev {
      left: -66px;
      @include laptop {
        left: -52px;
      }
      @include mobile {
        left: 16px;
      }
    }

    &.next {
      right: -66px;
      @include laptop {
        right: -52px;
      }
      @include mobile {
        right: 16px;
      }
    }
  }
}