html, body {
  font-family: $font-1;
  font-weight: 500;
  color: $color-1;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  line-height: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 800;
}

button {
  cursor: pointer;
}

.title {
  font-size: rem-calc(32);
  letter-spacing: 0.04em;
  line-height: 1.8em;
  margin-bottom: 0.45em;
  text-transform: uppercase;
}

.text-container {
  font-size: 14px;
  line-height: 1.45em;
  letter-spacing: 0.053em;
  margin: 1em 0;
}

.text-container--lg {
  font-size: 16px;
}
