//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;

//fonts
$font-1: Montserrat, sans-serif;
$font-2: Crimson Text, sans-serif;

//colors
$color-1: #000;
$color-2: #fff;
$color-3: #313A40;
$color-4: #FAB36D;
$color-5: #F3EFE5;

$bg-header: $color-3;
$color-heading: $color-3;

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
