//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1024px;
$xl: 1365px;
$xxl: 1399px;
$xxxl: 1800px;

//fonts
$font-1: "AktivGrotesk-Trial-Regular",
Tahoma,
Helvetica,
Tahoma,
Arial,
sans-serif;
$font-2: "AktivGrotesk-Trial-Light",
Tahoma,
Helvetica,
Tahoma,
Arial,
sans-serif;


//colors
$color-1: #000;
$color-2: #fff;
$color-3: #fff;
$color-4: #fff;
$color-5: #fff;
$c-grey: #333333;
$c-header-text: $c-grey;

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;