//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;

//fonts
// $font-1: Helvetica, Tahoma, Arial, sans-serif;
$font-regular: 'BariolRegular', sans-serif;
$font-bold: 'BariolBold', sans-serif;
$font-fa: 'FontAwesome';
$font-light:  'BariolLight', sans-serif;
$font-thin:  'BariolThin', sans-serif;
$font-regularIt: 'BariolRegularItalic', sans-serif;
$font-boldIt: 'BariolBoldItalic', sans-serif;
$font-lightIt:  'BariolLightItalic', sans-serif;
$font-thinIt:  'BariolThinItalic', sans-serif;

//colors
$color-1: #000;
$color-2: #fff;
$color-3: #0076BF; //blue
$color-4: #00703C; //green
$color-5: #818285; //gray
$color-6: #E56B1E; //orange
$color-7: #D31144; //red
$color-8: #FFD420; //yellow
$color-9: #f7f7f7; //lgray


// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
