<footer class="footer">
  <div class="container-max">
    <ul class="footer-list">
      <li class="footer-list__item">
        <img class="footer-list__img" src="../../img/rics.png" alt="">
      </li>
      <li class="footer-list__item">
        <a class="link footer-list__link" href="privacy.html" target="_blank">
          <span class="footer-list__text">PRIVACY</span>
        </a>
        <a class="link footer-list__link" href="https://diffusion.digital/" target="_blank">
          <span class="footer-list__text">SITE CREDIT</span>
        </a>
      </li>
      <li class="footer-list__item">
        <span class="footer-list__text">© 2021 ALL RIGHTS RESERVED</span>
      </li>
    </ul>
  </div>
</footer>
