<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col footer__col--logo">
        <a href="/" class="footer__logo">
          <img src="/img/white-logo.png" alt="Site logo">
        </a>
        <p class="footer__inc">
          TrustUnion <br>By SmartPulsar Technology Inc.
        </p>
      </div>
      <div class="footer__col footer__col--contacts">
        <ul class="footer__contacts">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25.6 18.7">
              <use href="#icon-contacts-mail" xlink:href="#icon-contacts-mail"></use>
            </svg>
            <p>
              <a href="mailto:contact@trustunion.com">contact@trustunion.com</a>
            </p>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25.6 18.7">
              <use href="#icon-contacts-pointer" xlink:href="#icon-contacts-pointer"></use>
            </svg>
            <p>
              501-109 rue Charlotte <br>Montréal (Québec) <br>H2X1M2 Canada
            </p>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25.6 18.7">
              <use href="#icon-contacts-registered" xlink:href="#icon-contacts-registered"></use>
            </svg>
            <p>
              Registered under the Quebec <br>Business Number 1173488777
            </p>
          </li>
        </ul>
      </div>
      <div class="footer__col footer__col--nav">
        <ul class="footer__nav">
          <li><a href="#our-vision">Our vision</a></li>
          <li><a href="#chain-of-trust">Chain of trust</a></li>
          <li><a href="#trust-as-service">Trust as a servise</a></li>
          <li><a href="#our-lightpaper">Our lightpaper</a></li>
          <li><a href="#search-product">Trust search product</a></li>
          <li><a href="#roadmap">Roadmap & Milestones</a></li>
          <li><a href="#videos">Videos</a></li>
          <li><a href="#articles">Articles</a></li>
          <li><a href="#founders">Founders</a></li>
          <li><a href="#advisors">Advisors</a></li>
          <li><a href="#our-partners">Our partners</a></li>
          <li><a href="#they-talk-about-us">They talk about us</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
