<footer class="footer container-full">
	<div class="container flex_wrapper">
		<div class="footer__logo-box flex_wrapper flex_ai_center">
			<img src="../img/logo.png" alt="" />	
		</div>	
		<div class="footer__content">
			<div class="footer__menu flex_wrapper">
				<a href="#" class="footer__link uppercase" title="Privacy policy">Privacy policy </a>
				<a href="#" class="footer__link uppercase" title="Terms and Conditions">Terms and Conditions </a>
				<a href="#" class="footer__link uppercase" title="Vacancies">Vacancies </a>
				<a href="#" class="footer__link uppercase" title="Contact us">Contact us </a>
			</div>
			<div class="footer__follow flex_wrapper flex_ai_center">
				<span>Follow us</span>
				<div class="footer__follow-icons flex_wrapper">
					<a href="" title ="linkledIn" class="footer__follow-icon footer__follow-icon-ln flex_wrapper">

					</a>
					<a href="" title ="twitter" class="footer__follow-icon footer__follow-icon-twitter flex_wrapper">
						
					</a>
					<a href="" title ="facebook" class="footer__follow-icon footer__follow-icon-facebook flex_wrapper">
						
					</a>
					<a href="" title ="instagram" class="footer__follow-icon footer__follow-icon-insta flex_wrapper">
						
					</a>
				</div>
			</div>
			<p class="footer__info">
				A Registered Charity Reg No. 1095897 (England & Wales) & SC039255 (Scotland). A company limited by guarantee. Registered in England & Wales No 04620683.<br> GroceryAid, 2 Lakeside Business Park, Swan Lane, Sandhurst GU47 9DN.
			</p>	
		</div>	
	</div>
</footer>
