<header class="header" id="header">
	<div class="container-full flex_wrapper">
        <div class="header__logo-box">
            <img src="../img/logo.png" alt="logo" />
        </div>
        <div class="header__content flex_dir_col">
            <div class="header__tel-box flex_wrapper flex_jc_end">
                <a href="tel:08088 021 122" class="uppercase flex_wrapper flex_ai_center">
                    <img src="../img/icons/call.svg" alt="call"/>
                    <span>Helpline 08088 021 122 </span>
                </a>
                <button class="header__open-menu" style="display:none;"> 
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="header__menu-box-search flex_wrapper flex_jc_beetween">
                <ul class="header__menu flex_wrapper">
                    <li class="header__menu-item">
                        <span class="uppercase">Get help</span>
                        <ul class="submenu" style="display:none;">
                            <li></li>
                        </ul>    
                    </li>
                    <li class="header__menu-item">
                        <span class="uppercase">Get involved</span>
                        <ul class="submenu" style="display:none;">
                            <li></li>
                        </ul>    
                    </li>  
                    <li class="header__menu-item">
                        <span class="uppercase">events</span>
                        <ul class="submenu" style="display:none;">
                            <li></li>
                        </ul>    
                    </li>  
                    <li class="header__menu-item">
                        <span class="uppercase">about</span>
                        <ul class="submenu" style="display:none;">
                            <li></li>
                        </ul>    
                    </li>  
                    <li class="header__menu-item">
                        <span class="uppercase">news</span>
                        <ul class="submenu" style="display:none;">
                            <li></li>
                        </ul>    
                    </li>    
                </ul>
                <button class="header__search-button"></button>
                <div class="header__search-box w-100"></div>
            </div>
        </div>
	</div>
</header>
