<header class="header flex_wrapper flex_ai_center" id="header">
	<div class="container">
		<div class="header__inner flex_wrapper flex_ai_center">
			<a href="/" class="header__logo flex_wrapper flex_ai_center">
				<img src="./img/content/logo.png" alt="site logo">
			</a>

			<nav class="nav flex_wrapper" data-mobile-menu>
				<ul class="nav__list flex_wrapper">
					<li class="nav__item">
						<a href="" class="nav__link">Investor Relations</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">Portfolio</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">Sustainability</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">Press</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">About</a>
					</li>
					<li class="nav__item">
						<a href="" class="nav__link">Contact</a>
					</li>
				</ul>
			</nav>

			<ul class="header__lang flex_wrapper">
				<li>
					<a href="" title="English version">Eng</a>
				</li>
				<li>
					<a href="" title="Russion version">Eng</a>
				</li>
			</ul>

			<div class="hamburger" data-action="toggle-menu">
				<span class="line"></span>
				<span class="line"></span>
				<span class="line"></span>
			</div>
		</div>
	</div>
</header>