<header class="header" id="header">
  <nav class="header__menu" id="header-menu">
    {{ lines.vertical(true) }}
    <div class="container">
      <div class="header__menu-inner">
        <ul class="header__nav-list">
          <li><a href="#our-vision"><span>Our vision</span></a></li>
          <li><a href="#chain-of-trust"><span>Chain of trust</span></a></li>
          <li><a href="#trust-as-service"><span>Trust as a servise</span></a></li>
          <li><a href="#our-lightpaper"><span>Our lightpaper</span></a></li>
          <li><a href="#search-product"><span>Trust search product</span></a></li>
          <li><a href="#roadmap"><span>Roadmap & Milestones</span></a></li>
          <li><a href="#videos"><span>Videos</span></a></li>
          <li><a href="#articles"><span>Articles</span></a></li>
          <li><a href="#founders"><span>Founders</span></a></li>
          <li><a href="#advisors"><span>Advisors</span></a></li>
          <li><a href="#our-partners"><span>Our partners</span></a></li>
          <li><a href="#they-talk-about-us"><span>They talk about us</span></a></li>
        </ul>
        <ul class="header__social header__social--mobile">
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-telegram" href="#social-icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-fb" href="#social-icon-fb"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-twitter" href="#social-icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-in" href="#social-icon-in"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-reddit" href="#social-icon-reddit"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-youtube" href="#social-icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-mail" href="#social-icon-mail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="header__container">
    <div class="header__container-lines">
      {{ lines.vertical(true) }}
    </div>
    <div class="container">
      <div class="header__inner">
        <a href="/" class="header__logo">
          <img src="/img/white-logo.svg" alt="Site logo">
        </a>
        <ul class="header__social">
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-telegram" href="#social-icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-fb" href="#social-icon-fb"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-twitter" href="#social-icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-in" href="#social-icon-in"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-reddit" href="#social-icon-reddit"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-youtube" href="#social-icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="/" aria-label="link to social">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                <use xlink:href="#social-icon-mail" href="#social-icon-mail"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button class="header__burger" id="header-burger" aria-label="toggle menu">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 55.2">
            <rect y="0.6" width="72" height="6"></rect>
            <rect y="24.6" width="72" height="6"></rect>
            <rect y="48.6" width="72" height="6"></rect>
            <rect x="0" y="24.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.9511 33.544)" width="72" height="6"></rect>
            <rect x="33" y="-8.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -8.9511 33.544)" width="6" height="72"></rect>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>

