<section class="chain bg-container" id="chain-of-trust">
  {{ lines.vertical(true) }}
  <div class="chain__bg bg-container__bg"></div>
  <div class="container">
    <div class="chain__inner">
      <h2 class="chain__title-mob  title title--white-text title--dark-icon">Chain <br>of Trust</h2>
      <div class="chain__text-col">
        <h2 class="chain__title-desk  title title--white-text title--dark-icon">Chain <br>of Trust</h2>
        <div class="chain__text-slider text-container text-container--md">
          <div class="swiper-container" id="chain-text-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="chain__text-slide"><p>TrustChain is a completely decentralized reputation network. No regulators, no bias, no lock-downs.</p></div>
              </div>
              <div class="swiper-slide">
                <div class="chain__text-slide"><p>Users connect to a very limited number of people who they know and trust in the real world.</p></div>
              </div>
              <div class="swiper-slide">
                <div class="chain__text-slide"><p>Interactions with different sharing economy providers, P2P and e-commerce transactions are recorded on the network.</p></div>
              </div>
              <div class="swiper-slide">
                <div class="chain__text-slide"><p>A user’s reputation affects the reputation of the people he / she is connected with. This way all “bad boys” are naturally eliminated from the network with the true self-regulation.</p></div>
              </div>
              <div class="swiper-slide">
                <div class="chain__text-slide"><p>You can easily transfer your TrustScore to the platform you haven’t used before and enjoy all the benefits highly rated users have there.</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chain__image-col">
        <div class="chain__image-slider">
          <div
              class="chain__lottie"
              id="chain-image-slider"
              data-animation-path="/assets/lottie-chain.json"
          ></div>
        </div>
      </div>
      <div class="chain__controls">
        <div class="horizontal-controls">
          <div id="chain-slider-pagination"></div>
          <div class="horizontal-controls__arrows">
            <button class="horizontal-controls__arrow horizontal-controls__prev" id="chain-slider-prev">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
              </svg>
            </button>
            <button class="horizontal-controls__arrow horizontal-controls__next" id="chain-slider-next">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
              </svg>
            </button>
          </div>
        </div>
        <button class="chain__skip">
          <span>skip</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
            <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
