<div class="papers" id="our-lightpaper">
  <div class="papers__bg-wrapper">
    <div class="container">
      <div class="papers__bg"></div>
    </div>
  </div>
  <div class="container">
    <div class="papers__inner">
      <div class="papers__doc-image-wrapper">
        <img src="/img/document.svg" alt="background image">
      </div>
      <div class="papers__text-box">
        <h2 class="title-small">OUR <br>LIGHTPAPER</h2>
        <p class="bigger-text">TrustUnion team is currently working on all its documents.</p>
      </div>
      <div class="papers__button">
        <a href="/" class="button button--yellow">download</a>
      </div>
      <div class="papers__image-box">
        <img src="/img/broshure.png" alt="lightpaper image">
      </div>
    </div>
  </div>
</div>
