<section class="founders bg-container" id="founders">
  {{ lines.vertical() }}
  <div class="founders__bg bg-container__bg"></div>
  <div class="container">
    <div class="founders__above">
      <div class="founders__title-col">
        <h2 class="title">TRUSTUNION <br>Founders</h2>
      </div>
      <div class="founders__text-col">
        <div class="text-container">
          <p>We have been working on this project since 2016 and now we are dedicating all our time to making the project grow. Even before TrustUnion was conceived, we had worked together for several years across many ventures. This extensive experience means our team can work efficiently, communicate well and understand one another easily.</p>
        </div>
      </div>
    </div>
    <div class="founders__below">
      <div class="founders__founder-col">
        <div class="founder">
          <div class="founder__img-wrapper">
            <a class="founder__img" href="/">
              <img src="/img/founder-photo.jpg" alt="founder photo">
            </a>
          </div>
          <div class="founder__info team-info">
            <h3 class="team-info__name"><a href="/">Mathias <br>Valon</a></h3>
            <div class="team-info__position text-container">
              <p>CEO, Founder</p>
            </div>
            <span class="link link--yellow link--blue-hover link--no-text"><a href="/" aria-label="link to founder"></a><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20"><path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"></path></svg></span>
          </div>
        </div>
      </div>
      <div class="founders__button-col">
        <button class="button button--blue js-open-team-popup" href="/">All Team</button>
      </div>
    </div>
  </div>
</section>
