<section class="looks" data-cursor-type="arrow-double">
  <div class="looks__section-title-wrapper">
    <h2>How it looks at home</h2>
  </div>
  <div class="container container--default">
    <div class="looks__slider swiper-container" id="home-looks-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="https://via.placeholder.com/555x723/999999/FFFFFF" alt="image">
            <figcaption class="looks__image-caption">a.</figcaption>
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="https://via.placeholder.com/457x403/999999/FFFFFF" alt="image">
            <figcaption class="looks__image-caption">b.</figcaption>
          </figure>
          <div class="looks__description">
            <p>a. Tom loves coming back home and laying down on the bed for 5 minutes, before having dinner. A day is not a good day without doing it. </p>
          </div>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="https://via.placeholder.com/380x480/999999/FFFFFF" alt="image">
            <figcaption class="looks__image-caption">c.</figcaption>
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="https://via.placeholder.com/650x723/999999/FFFFFF" alt="image">
            <figcaption class="looks__image-caption">d.</figcaption>
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <div class="looks__description">
            <p>d. Tom loves coming back home and laying down on the bed for 5 minutes, before having dinner. A day is not a good day without doing it. </p>
          </div>
          <figure class="looks__image">
            <img src="https://via.placeholder.com/402x297/999999/FFFFFF" alt="image">
            <figcaption class="looks__image-caption">e.</figcaption>
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="https://via.placeholder.com/359x577/999999/FFFFFF" alt="image">
            <figcaption class="looks__image-caption">f.</figcaption>
          </figure>
        </div>
        <div class="swiper-slide looks__slide">
          <figure class="looks__image">
            <img src="https://via.placeholder.com/457x403/999999/FFFFFF" alt="image">
            <figcaption class="looks__image-caption">g.</figcaption>
          </figure>
          <div class="looks__description">
            <p>g. Tom loves coming back home and laying down on the bed for 5 minutes, before having dinner. A day is not a good day without doing it. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
