<section class="beds" data-cursor-color="dark">
  <div class="container container--default">
    <div class="beds__heading">
      <h2 class="title">Our Beds</h2>
      <a class="beds__heading-link" href="/our-beds.html">See Products</a>
    </div>
    <ul class="beds__list">
      <li class="beds__item">
        <a href="/" data-cursor-type="arrow" class="beds__image"><img src="https://via.placeholder.com/262x346/999999/FFFFFF" alt="image of some bed"></a>
        <ul class="beds__description">
          <li>
            <span>Name</span> <span>N째 1</span>
          </li>
          <li>
            <span>Type</span> <span>Next-level comfort</span>
          </li>
        </ul>
      </li>
      <li class="beds__item">
        <a href="/" data-cursor-type="arrow" class="beds__image"><img src="https://via.placeholder.com/262x346/999999/FFFFFF" alt="image of some bed"></a>
        <ul class="beds__description">
          <li>
            <span>Name</span> <span>N째 1</span>
          </li>
          <li>
            <span>Type</span> <span>Next-level comfort</span>
          </li>
        </ul>
      </li>
      <li class="beds__item">
        <a href="/" data-cursor-type="arrow" class="beds__image"><img src="https://via.placeholder.com/262x346/999999/FFFFFF" alt="image of some bed"></a>
        <ul class="beds__description">
          <li>
            <span>Name</span> <span>N째 1</span>
          </li>
          <li>
            <span>Type</span> <span>Next-level comfort</span>
          </li>
        </ul>
      </li>
      <li class="beds__item">
        <a href="/" data-cursor-type="arrow" class="beds__image"><img src="https://via.placeholder.com/262x346/999999/FFFFFF" alt="image of some bed"></a>
        <ul class="beds__description">
          <li>
            <span>Name</span> <span>N째 1</span>
          </li>
          <li>
            <span>Type</span> <span>Next-level comfort</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
