<div class="videos bg-container" id="videos">
  {{ lines.vertical(true) }}
  <div class="videos__bg bg-container__bg"></div>
  <div class="container">
    <div class="simple-slider">
      <div class="simple-slider__heading">
        <div class="simple-slider__text">
          <h2 class="title title--white-text">VIEW OUR LATEST <br>EVENT VIDEOS</h2>
        </div>
        <div class="simple-slider__controls">
          <div class="horizontal-controls">
            <div class="swiper-pagination--blue" id="videos-slider-pagination"></div>
            <div class="horizontal-controls__arrows">
              <button class="horizontal-controls__arrow horizontal-controls__arrow--blue-hover horizontal-controls__prev" id="videos-slider-prev">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                  <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                </svg>
              </button>
              <button class="horizontal-controls__arrow horizontal-controls__arrow--blue-hover horizontal-controls__next" id="videos-slider-next">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                  <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="simple-slider__slider">
        <div class="swiper-container" id="videos-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="videos__slide">
                <video muted playsinline poster="/video/latest-video-poster.jpg">
                  <source src="video/intro.mp4" type="video/mp4">
                </video>
                <button class="videos__play-btn" aria-label="play video">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.1 63.1">
                    <circle cx="31.5" cy="31.5" r="29.5"/>
                    <path d="M24.5 41.5l16-10-16-10v20z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="videos__slide">
                <video playsinline poster="/video/latest-video-poster.jpg">
                  <source src="video/intro.mp4" type="video/mp4">
                </video>
                <button class="videos__play-btn" aria-label="play video">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.1 63.1">
                    <circle cx="31.5" cy="31.5" r="29.5"/>
                    <path d="M24.5 41.5l16-10-16-10v20z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="videos__slide">
                <video muted playsinline poster="/video/latest-video-poster.jpg">
                  <source src="video/intro.mp4" type="video/mp4">
                </video>
                <button class="videos__play-btn" aria-label="play video">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.1 63.1">
                    <circle cx="31.5" cy="31.5" r="29.5"/>
                    <path d="M24.5 41.5l16-10-16-10v20z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="videos__slide">
                <video playsinline poster="/video/latest-video-poster.jpg">
                  <source src="video/intro.mp4" type="video/mp4">
                </video>
                <button class="videos__play-btn" aria-label="play video">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.1 63.1">
                    <circle cx="31.5" cy="31.5" r="29.5"/>
                    <path d="M24.5 41.5l16-10-16-10v20z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="videos__slide">
                <video playsinline poster="/video/latest-video-poster.jpg">
                  <source src="video/intro.mp4" type="video/mp4">
                </video>
                <button class="videos__play-btn" aria-label="play video">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.1 63.1">
                    <circle cx="31.5" cy="31.5" r="29.5"/>
                    <path d="M24.5 41.5l16-10-16-10v20z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="videos__slide">
                <video playsinline poster="/video/latest-video-poster.jpg">
                  <source src="video/intro.mp4" type="video/mp4">
                </video>
                <button class="videos__play-btn" aria-label="play video">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.1 63.1">
                    <circle cx="31.5" cy="31.5" r="29.5"/>
                    <path d="M24.5 41.5l16-10-16-10v20z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="simple-slider__below">
        <span class="link link--blue">
          <a href="/">View All Videos</a>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
            <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>
