<div class="social">
  <div class="social__bg-wrapper">
    <div class="container">
      <div class="social__bg"></div>
    </div>
  </div>
  <div class="container">
    <div class="social__inner">
      <div class="social__content">
        <h2 class="social__title title-small">Follow us <br>On social network</h2>
        <div class="social__slider-wrapper">
          <!-- attr aria-label will be used as text for slider below -->
          <ul class="social__icons" id="social-icons-wrapper">
            <li>
              <a href="/" aria-label="Trust Union Official Telegram Channell">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                  <use xlink:href="#social-icon-telegram" href="#social-icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="link to social test">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                  <use xlink:href="#social-icon-fb" href="#social-icon-fb"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="link to social test 2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                  <use xlink:href="#social-icon-twitter" href="#social-icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="link to social test 3">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                  <use xlink:href="#social-icon-in" href="#social-icon-in"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="link to social">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                  <use xlink:href="#social-icon-reddit" href="#social-icon-reddit"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="link to social">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                  <use xlink:href="#social-icon-youtube" href="#social-icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="link to social">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 402.1 400">
                  <use xlink:href="#social-icon-mail" href="#social-icon-mail"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="social__slider text-container">
            <div class="swiper-container" id="social-slider">
              <div class="swiper-wrapper"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="social__form-wrapper">
        <form class="social__form">
          <label class="social__input-wrapper">
            <span class="bigger-text">Stay up to date with our latest news.</span>
            <input type="email" name="email" placeholder="Your email address">
          </label>
          <button type="submit" class="button button--yellow">subscribe</button>
        </form>
      </div>
      <img class="social__figure" src="/img/mail-image.svg" alt="background image">
    </div>
  </div>
</div>
