<div class="partners bg-container" id="our-partners">
  {{ lines.vertical(true) }}
  <div class="partners__bg bg-container__bg"></div>
  <div class="container">
    <h2 class="title title--white-text">OUR <br>PARTNERS</h2>
    <ul class="partners__items">
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__item-inner" href="/" aria-label="link to partner">
          <img src="/img/partner-logo.png" alt="partner logo">
        </a>
      </li>
    </ul>
  </div>
</div>
