<div class="satisfaction">
  <div class="container container--default">
    <div class="satisfaction__inner">
      <p class="satisfaction__title">@j.marshall</p>
      <figure>
        <img src="https://via.placeholder.com/360x360/999999/FFFFFF" alt="image">
        <figcaption class="text-container text-container--sm">
          <p>Tom loves taking a nap on N° I, <br> we can see the satisfaction in his eyes.</p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>
