<div class="instagram">
  <div class="container container--default">
    <div class="instagram__inner">
      <p class="instagram__title"><a href="/" target="_blank">@j.marshall</a></p>
      <div class="swiper-container" id="instagram-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure>
              <img src="/img/instagram-slide-1.jpg" alt="image">
              <figcaption class="text-container text-container--sm">
                <p>Tom loves taking a nap on N° I, <br> we can see the satisfaction in his eyes.</p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="https://via.placeholder.com/359x359/999999/FFFFFF" alt="image">
              <figcaption class="text-container text-container--sm">
                <p>Lorem ipsum dolor sit, <br> Lorem ipsum dolor sit amet.</p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="https://via.placeholder.com/359x359/929993/000000" alt="image">
              <figcaption class="text-container text-container--sm">
                <p>Lorem ipsum dolor sit amet, <br> Lorem ipsum dolor sit amet, consectetur.</p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="https://via.placeholder.com/359x359/efefef/333333" alt="image">
              <figcaption class="text-container text-container--sm">
                <p>Lorem ipsum dolor sit amet, <br> Lorem ipsum dolor.</p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="https://via.placeholder.com/359x359/121212/ededed" alt="image">
              <figcaption class="text-container text-container--sm">
                <p>Lorem ipsum dolor sit amet, consectetur, <br> Lorem ipsum dolor sit.</p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
