<section class="service bg-container" id="trust-as-service">
  {{ lines.vertical(true) }}
  <div class="service__bg bg-container__bg">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 156.1 182.1">
      <use xlink:href="#site-logo-icon" href="#site-logo-icon"></use>
    </svg>
  </div>
  <div class="container">
    <h2 class="title title--white-text title--blue-icon">TRUST <br>AS A SERVICE</h2>
    <div class="service__items-wrapper">
      <ul class="service__items">
        <li class="service__item">
          <div class="service__item-inner">
            <img src="/img/serv-1.png" alt="">
            <h3>Digital identity</h3>
            <div class="text-container">
              <p>Based on privacy and frugality through GDPR compliance, your trustworthiness now forms your identity.</p>
            </div>
          </div>
        </li>
        <li class="service__item">
          <div class="service__item-inner">
            <img src="/img/serv-2.png" alt="">
            <h3>Trust Score</h3>
            <div class="text-container">
              <p>A multi-platform, globalized rating system based on objective and subjective feedback supported by an artificial intelligence regulator.</p>
            </div>
          </div>
        </li>
        <li class="service__item">
          <div class="service__item-inner">
            <img src="/img/serv-3.png" alt="">
            <h3>Search engine</h3>
            <div class="text-container">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </li>
        <li class="service__item">
          <div class="service__item-inner">
            <img src="/img/serv-4.png" alt="">
            <h3>User friendly</h3>
            <div class="text-container">
              <p>User-friendly technology based on common normalized online behavior.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
