<div class="quotes-slider" id="quotes-section">
  <div class="container">
    <div class="quotes-slider__inner">
      <div class="quotes-slider__bg">
        <div class="quotes-slider__bg-substrate"></div>
        <div class="quotes-slider__quote-icon">
          <img src="/img/icon-quote.png" alt="quote icon">
        </div>
        <div class="quotes-slider__logo">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 156.1 182.1">
            <use xlink:href="#site-logo-icon" href="#site-logo-icon"></use>
          </svg>
        </div>
      </div>
      <div class="quotes-slider__pagination swiper-pagination-bullets--vertical" id="quotes-slider-pagination"></div>
      <div class="swiper-container" id="quotes-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="quotes-slider__slide">
              <p>Trust is all about new opportunities. When trust is present. The field of possibilities explodes and makes any business environment a healthy place to evolve.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quotes-slider__slide">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem corporis, deserunt distinctio dolorem et fugiat provident quidem repellendus sapiente!</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quotes-slider__slide">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur dolorem eligendi, expedita inventore natus neque nesciunt odit?</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="quotes-slider__slide">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur, distinctio doloremque doloribus laboriosam minus nemo nesciunt placeat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
