<section class="articles bg-container" id="articles">
  {{ lines.vertical(true) }}
  <div class="articles__bg bg-container__bg"></div>
  <div class="container">
    <div class="simple-slider">
      <div class="simple-slider__heading">
        <div class="simple-slider__text">
          <h2 class="title title--white-text">READ OUR <br>LATEST ARTICLES</h2>
        </div>
        <div class="simple-slider__controls">
          <div class="horizontal-controls">
            <div class="swiper-pagination--blue" id="articles-slider-pagination"></div>
            <div class="horizontal-controls__arrows">
              <button class="horizontal-controls__arrow horizontal-controls__arrow--blue-hover horizontal-controls__prev" id="articles-slider-prev">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                  <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                </svg>
              </button>
              <button class="horizontal-controls__arrow horizontal-controls__arrow--blue-hover horizontal-controls__next" id="articles-slider-next">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                  <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="simple-slider__slider">
        <div class="swiper-container" id="articles-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="articles__slide">
                <a class="articles__slide-img" href="/" aria-label="link to article">
                  <img src="img/article-img.jpg" alt="article image">
                </a>
                <h4 class="articles__slide-subtitle">12 April 2019</h4>
                <h3 class="articles__slide-title"><a href="/">The words “utility token” and “security token”</a></h3>
                <div class="articles__slide-text text-container">
                  <p>The words “utility token” and “security token” should ring a bell to everyone in the Blockchain community. </p>
                </div>
                <span class="link link--yellow link--no-text">
                  <a href="/" aria-label="link to article"></a>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                    <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="articles__slide">
                <a class="articles__slide-img" href="/" aria-label="link to article">
                  <img src="img/article-img.jpg" alt="article image">
                </a>
                <h4 class="articles__slide-subtitle">12 April 2019</h4>
                <h3 class="articles__slide-title"><a href="/">The words “utility token” and “security token”</a></h3>
                <div class="articles__slide-text text-container">
                  <p>The words “utility token” and “security token” should ring a bell to everyone in the Blockchain community. </p>
                </div>
                <span class="link link--yellow link--no-text">
                  <a href="/" aria-label="link to article"></a>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                    <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="articles__slide">
                <a class="articles__slide-img" href="/" aria-label="link to article">
                  <img src="img/article-img.jpg" alt="article image">
                </a>
                <h4 class="articles__slide-subtitle">12 April 2019</h4>
                <h3 class="articles__slide-title"><a href="/">The words “utility token” and “security token”</a></h3>
                <div class="articles__slide-text text-container">
                  <p>The words “utility token” and “security token” should ring a bell to everyone in the Blockchain community. </p>
                </div>
                <span class="link link--yellow link--no-text">
                  <a href="/" aria-label="link to article"></a>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                    <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="articles__slide">
                <a class="articles__slide-img" href="/" aria-label="link to article">
                  <img src="img/article-img.jpg" alt="article image">
                </a>
                <h4 class="articles__slide-subtitle">12 April 2019</h4>
                <h3 class="articles__slide-title"><a href="/">The words “utility token” and “security token”</a></h3>
                <div class="articles__slide-text text-container">
                  <p>The words “utility token” and “security token” should ring a bell to everyone in the Blockchain community. </p>
                </div>
                <span class="link link--yellow link--no-text">
                  <a href="/" aria-label="link to article"></a>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                    <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="articles__slide">
                <a class="articles__slide-img" href="/" aria-label="link to article">
                  <img src="img/article-img.jpg" alt="article image">
                </a>
                <h4 class="articles__slide-subtitle">12 April 2019</h4>
                <h3 class="articles__slide-title"><a href="/">The words “utility token” and “security token”</a></h3>
                <div class="articles__slide-text text-container">
                  <p>The words “utility token” and “security token” should ring a bell to everyone in the Blockchain community. </p>
                </div>
                <span class="link link--yellow link--no-text">
                  <a href="/" aria-label="link to article"></a>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
                    <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="simple-slider__below">
        <span class="link link--blue">
          <a href="/">View All Articles</a>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 20">
            <path d="M5.6 0v14.7L0 9.1V13l7 7 7-6.9v-4l-5.6 5.6V0H5.6z"/>
          </svg>
        </span>
      </div>
    </div>
  </div>
</section>
