<div class="vision" id="our-vision">
  {{ lines.vertical() }}
  <div class="container">
    <div class="vision__inner">
      <div class="vision__text-col">
        <h2 class="title">OUR <br>VISION</h2>
        <div class="text-container">
          <p>Trust is all about new opportunities. When trust is present, the field of possibilities explodes and makes any business environment a healthy place to evolve. But when we think about it, this concept relies on third parties. At the moment, most tools used to create trust between two peers are based on the reputation that an organization has earned over time, as judged by other parties in that environment.</p>
        </div>
      </div>
      <div class="vision__image-col">
        <img src="/img/section-vision.jpg" alt="">
      </div>
    </div>
  </div>
</div>
