---
title: J. Marshall Configurator
description: J. Marshall Configurator
configuratorPage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main data-barba="container" data-barba-namespace="configurator-page"{# style="filter: blur(0) brightness(100%); -webkit-filter: blur(0) brightness(100%);"#}>
    <div id="app-configurator"></div>
  </main>
{% endblock %}
