---
title: J. Marshall Configurator
description: J. Marshall Configurator
configuratorPage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main data-barba="container" data-barba-namespace="configurator-page"{# style="filter: blur(0) brightness(100%); -webkit-filter: blur(0) brightness(100%);"#}>
    <div id="app-configurator"></div>
    <div class="configurator-background">
      <picture>
        {#<source type="image/webp" :srcset="baseURL + 'img/intro-bg.webp'">#}
        <source type="image/jpeg" srcset="img/configurator-bg.jpg">
        <img src="/img/configurator-bg.jpg" alt="background">
      </picture>
    </div>
  </main>
{% endblock %}
