---
title: Template
description: Template
homePage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main  data-barba="container" {#style="filter: blur(0) brightness(100%); -webkit-filter: blur(0) brightness(100%);"#}>
  </main>
{% endblock %}
