---
title: J. Marshall
description: J. Marshall
homePage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main data-barba="container" data-barba-namespace="home-page">
  {% include 'blocks/_section-intro.twig' %}
  </main>
{% endblock %}
