<!-- prettier-ignore -->
---
title: Template
description: Template
pageName: homePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
<main>
	<div></div>
	<h1>test</h1>
</main>
{% endblock %}
