---
title: Template
description: Template
pageName: homePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
  <main>
    {% include 'pages/home/_hero.twig' %}
  </main>
{% endblock %}
