---
title: Template
description: Template
pageName: pagesPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
    <main class="wrapper">
        <div class="container">
            <ul class="pages__list">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </main>
{% endblock %}
