---
title: J. Marshall Privacy Policy
description: J. Marshall Privacy Policy
privacyPage: true
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
<main  data-barba="container" data-barba-namespace="privacy-page"{# style="filter: blur(0) brightness(100%); -webkit-filter: blur(0) brightness(100%);"#}>
  <div class="privacy-page">
    {% include "sections/_section-privacy-text.twig" %}
  </div>
  {% include "blocks/_footer.twig" %}
</main>
{% endblock %}
