---
title: Privacy
description: Privacy
pageName: privacyPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
<main class="main">
    {#    ========== PRIVACY ========== #}
    <section class="section privacy">
        <div class="container">
            <div class="section-text privacy-text">
                <div class="section-header">
                    <h2 class="heading section-header__heading">Privacy Notice</h2>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">Introduction</h3>
                    <p class="paragraph privacy__paragraph">Your privacy is important to Rebase Group Ltd. This policy sets out information on the personal data we collect about you, and your rights in respect of this data. This policy applies whether you use our services (the “Services”) or access our website, <a class="link privacy-description__link" href="www.rebasegroup.com" target="_blank">www.rebasegroup.com</a> (the “Website”).</p>
                    <p class="paragraph privacy__paragraph">Our Website may contain links to third party websites that are not covered by policy. We therefore ask you to review the privacy statements of other websites and applications to understand their information practices.</p>
                    <p class="paragraph privacy__paragraph">If you have any comments on this policy, please email them to <a class="link privacy-description__link" href="mailto:hello@rebasegroup.com">hello@rebasegroup.com</a>. This policy contains the following information (you can access a specific section of this policy by clicking below):</p>
                    <ul class="list privacy-description__list">
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Information about who we are</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Information on what we can collect</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Information on cookies</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">How we store your personal data</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">How we disclose your information</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Your rights regarding your personal data</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">What happens when we link to other websites</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">The changes we may make to the policy</p>
                        </li>
                    </ul>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">Who We Are</h3>
                    <p class="paragraph privacy__paragraph">Rebase Group Ltd is a limited company registered in England under company number 13016792. Our registered office is at: Castle House, Castle Street, Guildford, GU1 3UW.</p>
                    <p class="paragraph privacy__paragraph">If you wish to speak to someone about the policy, please contact us on <a class="link privacy-description__link" href="mailto:hello@rebasegroup.com">hello@rebasegroup.com</a>.</p>
                    <p class="paragraph privacy__paragraph">We respect your right to privacy and will only process personal information about you in accordance with applicable data protection laws. We comply with General Data Protection Regulation (2016/679) and the UK Data Protection Act 2018 (the “Data Protection Legislation”). If any of these laws are replaced or superseded, we will also comply with that.</p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">What we may collect</h3>
                    <p class="paragraph privacy__paragraph">Personal data, or personal information, is any information about an individual from which that person can be identified. It does not include data where the identity has been removed (anonymous data).</p>
                    <p class="paragraph privacy__paragraph">We may collect, use, store and transfer different kinds of personal data about you when you use our Website or use our Services. Whenever we collect personal data about you, we must have a legal ground to do so.</p>
                    <p class="paragraph privacy__paragraph">When you contact a member of our team and/or use our services.</p>
                    <p class="paragraph privacy__paragraph">If you contact a member of our team to discuss customer service matters or to discuss our services, we will use your name and email address when we interact with you. We may also collect a whole range of personal information from you to discuss the matter you require our assistance with, and in order to provide you with the services. The legal basis we have for this is to perform our contract with you – we require this information to be able to assist you with your request for services or with the customer service issue you have raised.</p>
                    <p class="paragraph privacy__paragraph">We will then use your name and email address to send you information about your matter or issue raised (including to provide you with updates on changes to this policy or security information). Our legal basis for using your name and email address in this way is to provide you with relevant information relating to the security of your online account, to ensure you have up-to-date information on how we handle your personal data, and to perform our contract with you (as we have outlined above).</p>
                    <p class="paragraph privacy__paragraph">We may ask you whether you want to opt-in to our marketing information. If you say yes to this, we will use your email address to provide you with marketing information about our products and services. Our legal basis for this is that you have provided your consent. You can withdraw your consent at any time by contacting us at <a class="link privacy-description__link" href="mailto:hello@rebasegroup.com">hello@rebasegroup.com</a>. When you interact with the Website.</p>
                    <p class="paragraph privacy__paragraph">When you use our Website, we may collect some technical information about your equipment, browsing behaviours and patterns. We may collect this information by cookies, server logs and other similar technologies. We use this information to improve our Website and ensure you have a good experience on our Website. Our legal basis for this is legitimate interest to provide a high quality experience to our visitors and customers.</p>
                    <p class="paragraph privacy__paragraph">When you make a purchase on our Website.</p>
                    <p class="paragraph privacy__paragraph">When you make a purchase on our Website, we will collect your contact details (including your name, email address and anything else we may need to fulfil the service with you, for example your telephone number). We collect payment card details through our third party payment provider, currently Stripe Inc, and Stripe’s privacy policy will apply to the payment you make. We do not have sight of your payment card details.</p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">Information on cookies</h3>
                    <p class="paragraph privacy__paragraph">We use cookies in accordance with the Privacy and Electronic Communications Regulations (implementing the EU Directive 2002/58/EC).</p>
                    <p class="paragraph privacy__paragraph">Cookies are small text files placed on your device when you visit our site and are used to make the users experience more efficient. We are able to store cookies on your computer where they are necessary for the operation of the site however, for non-essential cookies we need your permission.</p>
                    <p class="paragraph privacy__paragraph">We use cookies to distinguish users and to improve our Website. We analyse how you use our Website, and we look at aggregate statistics about your usage, and how others use our Website. We collect certain information from these cookies, and this includes information about your IP address, your location when you access the Website, the date and time you access the Website, the language you use and the type of browser you use.</p>
                    <p class="paragraph privacy__paragraph">We do not track individual users or use cookies to identify individuals. We use cookies to recognise you and your preferences, improve our site's performance and collect analytical information for ourselves and our business partners. Without the knowledge gained we would not be able to provide the service we do.</p>
                    <p class="paragraph privacy__paragraph">These are the types of cookies we use.</p>
                    <ul class="list privacy-description__list">
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">'Session cookies' allow us to track your actions during a single browsing session, but they do not remain on your device afterwards</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">'Persistent cookies' remain on your device between sessions. We use them to authenticate you and to remember your preferences. We can also use them to balance the load on our servers and improve your experience on our Website</p>
                        </li>
                    </ul>
                    <p class="paragraph privacy__paragraph">Session and Persistent cookies can be either first or third party cookies. A first-party cookie is set by the website being visited; a third-party cookie is set by a different website. Both types of cookie may be used by us or our business partners.</p>
                    <p class="paragraph privacy__paragraph">The third-party cookies we use are:</p>
                    <ul class="list privacy-description__list">
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Google Analytics – this is a web analytics service provided by Google, Inc. The cookies used by Google Analytics help us to analyse how users use our Website and to count the number of people who use it. Google Analytics stores your IP address anonymously. Google does not associate your IP address with any personally identifiable information</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Facebook Ads (the Facebook pixel) – these cookies collect information about how visitors use our Website. This data is collected anonymously and is used to help improve our Website’s functionality</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Google Ad Words – these cookies collect information about how visitors use our Website. This data is collected anonymously, to help make our marketing communications more relevant, and is used to improve our Website’s functionality</p>
                        </li>
                    </ul>
                    <p class="paragraph privacy__paragraph">All of our cookies are categorised by the role they fulfil on our Website:</p>
                    <ul class="list privacy-description__list">
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Strictly Necessary: these are essential to enable you to move around our Website and use features such as secure services. Without these cookies such services could not be provided;</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Functionality: allow the Website to remember your choices and to personalise certain features. These cookies may be anonymised and cannot track your browsing activity on other websites;</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Performance: collect information as to how users use the Website. These cookies do not collect information that identifies a visitor. The information collected is aggregated and used to improve our Website</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">None of the cookies employed are classified as Behavioural Targeting</p>
                        </li>
                    </ul>
                    <p class="paragraph privacy__paragraph">We will always ask for your consent to use non-essential cookies. You are free to withhold consent to this, but it means that we might not be able to provide the full Website experience to you, including some elements of video advertising.</p>
                    <p class="paragraph privacy__paragraph">If at any time you wish to disable our cookies, you may do so through the settings on your browser, or whenever the pop-up appears on our Website (each time you access the Website).</p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">How we store your personal data</h3>
                    <p class="paragraph privacy__paragraph">We store all of your personal data on our servers within the United Kingdom and the Republic of Ireland.</p>
                    <p class="paragraph privacy__paragraph">We may transfer your collected data to storage outside the European Economic Area (EEA). It may be processed outside the EEA to fulfil your order and to receive our services and deal with payment. If we do store or transfer data outside the EEA, we will take all reasonable steps to ensure that your data is treated as safely and securely as it would be within the EEA.</p>
                    <p class="paragraph privacy__paragraph">This means that sometimes we may need to use legally binding contractual terms between us and any third parties we engage with and the use of the EU-approved Model Contractual Arrangements.</p>
                    <p class="paragraph privacy__paragraph">Data security is of great importance to us, and to protect your data we have put in place suitable physical, electronic and managerial procedures to safeguard and secure data collected through our Website. In addition, we limit access to your personal data to those employees, agents, contractors and other third parties who have a need to know. They will only process your personal data on our instructions, and they are subject to a duty of confidentiality.</p>
                    <p class="paragraph privacy__paragraph">We will still be responsible for protection of your personal data, even where we have transferred it outside the EEA.</p>
                    <p class="paragraph privacy__paragraph">We regularly review our data retention obligations to ensure we are not retaining data for longer than we are legally obliged to.</p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">How we disclose your information</h3>
                    <p class="paragraph privacy__paragraph">We may disclose your information in the following cases:</p>
                    <ul class="list privacy-description__list">
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">If we want to sell our business, or our company, we can disclose it to the potential buyer</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">We can disclose it to other businesses in our group, as defined in the UK Companies Act 2006</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">We can disclose it if we have a legal obligation to do so, or in order to protect other people's property, safety or rights</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">We can exchange information with others to protect against fraud or credit risks</p>
                        </li>
                    </ul>
                    <p class="paragraph privacy__paragraph">We may contract with third parties/subcontractors to supply services to you on our behalf. These include cloud services used to send emails and technology providers that assist in providing services to you.</p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">How we disclose your information</h3>
                    <p class="paragraph privacy__paragraph">When you provide us with personal data, you have certain legal rights, and these include:</p>
                    <ul class="list privacy-description__list">
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">To request access to, deletion of or correction of, your personal data held by us at no cost to you</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">To request that your personal data be transferred to another person (data portability)</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">To be informed of what data processing is taking place</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">To restrict processing</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">To object to processing of your personal data</p>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">To complain to a supervisory authority</p>
                        </li>
                    </ul>
                    <p class="paragraph privacy__paragraph">If you wish to access, rectify, erase or transfer your personal data, please contact us at <a class="link privacy-description__link" href="mailto:hello@rebasegroup.com">hello@rebasegroup.com</a></p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">What happens when we link to other websites</h3>
                    <p class="paragraph privacy__paragraph">This privacy policy only relates to our Website and our Services. We might have links on our Website to other websites, and these websites will have their own terms and conditions and privacy policies. You should check those privacy policies before providing your personal data to those websites.</p>
                    <p class="paragraph privacy__paragraph">Please note that our terms and conditions and our policies will not apply to other websites that you get to via a link from our Website. We have no control over how your data is collected, stored or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.</p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">Notice for California residents of privacy practices and rights</h3>
                    <p class="paragraph privacy__paragraph">If you are a California resident, California law may provide you with additional rights regarding your personal data. Your rights</p>
                    <p class="paragraph privacy__paragraph">The California Consumer Privacy Act of 2020 (“CCPA”) gives you the following rights.</p>
                    <ul class="list privacy-description__list">
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Right to know about the personal information we collect and share</p>
                            <ul class="list privacy-description__sublist">
                                <li class="item privacy-description__subitem">
                                    <p class="paragraph privacy__paragraph">The CCPA gives you the right to request that we disclose the specific pieces of personal information we have collected about you</p>
                                </li>
                                <li class="item privacy-description__subitem">
                                    <p class="paragraph privacy__paragraph">Please see above for information on the data we collect on you, and how we process it</p>
                                </li>
                                <li class="item privacy-description__subitem">
                                    <p class="paragraph privacy__paragraph">We do not sell your personal information. However, we do disclose your personal data to limited third parties, as described above</p>
                                </li>
                            </ul>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">Right of deletion</p>
                            <ul class="list privacy-description__sublist">
                                <li class="item privacy-description__subitem">
                                    <p class="paragraph privacy__paragraph">You have the right to request that we delete your personal information, subject to certain exceptions</p>
                                </li>
                            </ul>
                        </li>
                        <li class="item privacy-description__item">
                            <p class="paragraph privacy__paragraph">If you wish to delete your personal data, please contact us at <a class="link privacy-description__link" href="mailto:hello@rebasegroup.com">hello@rebasegroup.com</a> Please note that we may require certain information from you in order to verify your identity before proceeding with your request</p>
                        </li>
                    </ul>
                    <p class="paragraph privacy__paragraph">Disclosures about your personal information</p>
                    <p class="paragraph privacy__paragraph">We collect the categories of personal information from you in connection with your use of our Website as described above.</p>
                    <p class="paragraph privacy__paragraph">Non-discrimination</p>
                    <p class="paragraph privacy__paragraph">We will not discriminate against you for exercising any of your CCPA rights.</p>
                </div>
                <div class="privacy-description">
                    <h3 class="privacy-description__heading">The changes we may make to this policy</h3>
                    <p class="paragraph privacy__paragraph">We can update this policy from time to time as laws change or as our Services or Website change. If we make material changes to the policy, and we need your consent to those changes, we will contact you by email to do so.</p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}