.pages__list {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;

  a {
    display: block;
    padding: 12px;
  }
}
