<div class="beds-intro header-style-white" data-cursor-color="white">
  <div class="beds-intro__bg">
    <picture>
      <source type="image/webp" srcset="/img/alexa-bg.webp">
      <source type="image/jpeg" srcset="/img/alexa-bg.jpg">
      <img src="/img/alexa-bg.jpg" alt="beds intro background">
    </picture>
  </div>
  <div class="container container--default">
    <div class="beds-intro__inner">
      <div class="beds-intro__content">
        <div class="beds-intro__text text-container">
          <p>The J. Marshall by Vispring range is easy to choose from – just four pocket-sprung mattresses and one shallow divan. Incredible comfort and support without the endless options and choices. Unlike foam mattresses (which need body heat to work) and other pocket-sprung beds (which use lower grade materials) J. Marshall by Vispring is based on the pioneering pocket-sprung design first invented in 1901.</p>
        </div>
      </div>
      <div class="beds-intro__slider">
        <div class="swiper-container" id="beds-intro-slider" data-cursor-type="arrow-double">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="https://via.placeholder.com/555x457/999999/FFFFFF" alt="bed image">
                <span>NO.1</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="https://via.placeholder.com/555x457/333233/000200" alt="bed image">
                <span>NO.2</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="https://via.placeholder.com/555x457/999299/222222" alt="bed image">
                <span>NO.3</span>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="beds-intro__slide">
                <img src="https://via.placeholder.com/555x457/010000/333333" alt="bed image">
                <span>NO.4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="beds-intro__discover">
    <a href="#mattresses" data-scroll-to="#mattresses">discover bed details</a>
  </div>
</div>
