<section class="elevation" id="elevation-container">
  <div class="elevation__fixed-image" id="elevation-aside">
    <picture>
      <source type="image/webp" srcset="/img/divan.webp">
      <source type="image/jpeg" srcset="/img/divan.jpg">
      <img src="/img/divan.jpg" alt="the shallow divan">
    </picture>
  </div>
  <div class="elevation__scroll-content">
    <div class="container container--default">
      <div class="elevation__scroll-slide">
        <div class="elevation__scroll-image">
          <img src="/img/39.jpg" alt="divan part image">
        </div>
        <div class="elevation__scroll-text">
          <h2 class="title title--md">Shallow Divan. Where sleeping properly starts.</h2>
          <div class="text-container">
            <p>We’ve designed a Shallow Divan that pairs with any of our four mattresses. The bed is finished with a padded upper surface to work with your mattress for even greater comfort. Plus there are three leg colours and 16 fabrics to choose from to make the bed suit your home. You can also choose from four sizes of headboard for even more customisation.</p>
          </div>
          <div class="elevation__scroll-spacer"></div>
          <div class="text-container">
            <ul>
              <li>Padded surface for added comfort</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="elevation__scroll-slide">
        <div class="elevation__scroll-image">
          <img src="/img/40.jpg" alt="divan part image">
        </div>
        <div class="elevation__scroll-text">
          <div class="text-container">
            <ul>
              <li>16 fabrics</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="elevation__scroll-slide">
        <div class="elevation__scroll-image">
          <img src="/img/41.jpg" alt="divan part image">
        </div>
        <div class="elevation__scroll-text">
          <div class="text-container">
            <ul>
              <li>Choose brushed brass, brushed silver or black chrome legs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="elevation__scroll-slide">
        <div class="elevation__scroll-image">
          <img src="https://via.placeholder.com/457x424/999999/FFFFFF" alt="divan part image">
        </div>
        <div class="elevation__scroll-text">
          <div class="text-container">
            <ul>
              <li>Four headboard sizes (each can be finished in a different fabric)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
