<section class="story" id="our-story">
  <div class="container container--type-2">
    <div class="story__above">
      <div class="story__above-col">
        <h2 class="story__title title">Our Story</h2>
        <div class="story__sub-title">
          Sleeping properly <br>
          had arrived <br>
          in style.
        </div>
      </div>
      <div class="story__above-col story__above-col--text">
        <div class="text-container">
          <p>In 1901, a young engineer called James Marshall designed the first ever pocked-sprung mattress. With unmatched levels of comfort, Vispring (as it was named) was an instant success. And the mattress found its way into the world’s most lavish bedrooms – on famous ocean liners, incredible hotels, royal palaces and more.</p>
          <p>Of course, a lot has changed since 1901. But an incredible night’s sleep – that’s probably more important than ever. Which is why J. Marshall by Vispring was created. Offering the same comfort and support as the original mattress design, our latest range makes it easy to bring pocket-sprung comfort into your home.</p>
        </div>
      </div>
    </div>
    <div class="story__below">
      <div class="story__image story__image--big">
        <img src="https://via.placeholder.com/652x409/999999/FFFFFF" alt="Vispring best seller">
        <span>a.</span>
      </div>
      <div class="story__image story__image--small">
        <img src="https://via.placeholder.com/262x221/999999/FFFFFF" alt="One of our craftsmen">
        <span>b.</span>
      </div>
      <div class="story__image-caption">
        <p>a. Vispring best seller</p>
        <p>b. One of our craftsmen</p>
      </div>
    </div>
  </div>
</section>
