<div class="instagram">
  <div class="container container--default">
    <div class="instagram__inner">
      <p class="instagram__title">
        <a href="https://www.instagram.com/jmarshallbeds/" target="_blank">@jmarshallbeds</a>
      </p>
      <div class="swiper-container" id="instagram-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure>
              <a target="_blank" href="https://www.instagram.com/">
                <img src="/img/instagram-slide-1.jpg" alt="image">
              </a>
              <figcaption class="text-container text-container--sm">
                <p>
                  <a target="_blank" href="https://www.instagram.com/">
                    Tom loves taking a nap on N° I,
                    <br>
                    we can see the satisfaction in his eyes.
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <a target="_blank" href="https://www.instagram.com/">
                <img src="https://via.placeholder.com/359x359/999999/FFFFFF" alt="image">
              </a>
              <figcaption class="text-container text-container--sm">
                <p>
                  <a target="_blank" href="https://www.instagram.com/">
                    Lorem ipsum dolor sit,
                    <br>
                    Lorem ipsum dolor sit amet.
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <a target="_blank" href="https://www.instagram.com/">
                <img src="https://via.placeholder.com/359x359/929993/000000" alt="image">
              </a>
              <figcaption class="text-container text-container--sm">
                <p>
                  <a target="_blank" href="https://www.instagram.com/">
                    Lorem ipsum dolor sit amet,
                    <br>
                    Lorem ipsum dolor sit amet, consectetur.
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <a target="_blank" href="https://www.instagram.com/">
                <img src="https://via.placeholder.com/359x359/efefef/333333" alt="image">
              </a>
              <figcaption class="text-container text-container--sm">
                <p>
                  <a target="_blank" href="https://www.instagram.com/">
                    Lorem ipsum dolor sit amet,
                    <br>
                    Lorem ipsum dolor.
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <a target="_blank" href="https://www.instagram.com/">
                <img src="https://via.placeholder.com/359x359/121212/ededed" alt="image">
              </a>
              <figcaption class="text-container text-container--sm">
                <p>
                  <a target="_blank" href="https://www.instagram.com/">
                    Lorem ipsum dolor sit amet, consectetur,
                    <br>
                    Lorem ipsum dolor sit.
                  </a>
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
