<section class="beds-builder header-style-white" data-cursor-color="white">
  <div class="beds-builder__bg">
    <picture>
      <source type="image/webp" srcset="/img/beds-builder-bg.webp">
      <source type="image/jpeg" srcset="/img/beds-builder-bg.jpg">
      <img src="/img/beds-builder-bg.jpg" alt="beds builder background">
    </picture>
  </div>
  <div class="beds-builder__content container container--type-3">
    <div class="beds-builder__inner">
      <div class="beds-builder__info">
        <h2 class="title title--lg">Build your J. Marshall <br> by Vispring</h2>
        <div class="text-container">
          <p>This is where you can build your bed to see what the finished design looks like. Designing a bed has never been so easy!</p>
        </div>
        <div class="beds-builder__now">
          <button class="button-now">Build It <span>Now</span></button>
        </div>
      </div>
      <div class="beds-builder__steps">
        <ul>
          <li>Choose your size</li>
          <li>Choose your mattress</li>
          <li>Customise the headboard fabric</li>
          <li>Swap frame leg colours</li>
          <li>Get a PDF of your bed and specifications to download and share.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
