<section class="make">
  <div class="make__bg">
    <img src="/img/make-own.jpg" alt="background image">
  </div>
  <div class="container container--default">
    <div class="make__content">
      <div class="make__content-inner">
        <h2 class="title">make your own bed</h2>
        <div class="text-container">
          <p>We build a configurator that allows you to design your own bed. You can choose you mattress, customise the divan and match it with your personal style. After that you can download a PDF with all the spacifications and share it or you can print it and come to one of your showrooms to check it how it looks in person. </p>
        </div>
        <div class="make__button">
          <button class="button-now">Configure <span>Now</span></button>
        </div>
      </div>
    </div>
  </div>
</section>
