<div class="beds-intro header-style-white" data-cursor-color="white">
  <div class="beds-intro__bg">
    <img src="/img/alexa-bg.jpg" alt="our beds page image">
  </div>
  <div class="container container--default">
    <div class="beds-intro__inner"></div>
  </div>
</div>
