<section class="into-beds">
  <div class="container container--type-2">
    <div class="into-beds__heading">
      <h2 class="title title--md">What goes into our beds</h2>
      <div class="text-container">
        <p>Every material and component is chosen to add comfort and quality to our beds and mattresses. Whether it’s finding the fleeciest alpaca hair or studying the best way to hand-tuft a mattress – we go to great lengths to help you sleep properly</p>
      </div>
    </div>
  </div>
  <div class="into-beds__container">
    <div class="into-beds__content">
      <div class="into-beds__image-wrapper">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img src="https://via.placeholder.com/554x501/999999/FFFFFF" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img src="https://via.placeholder.com/554x501/999999/FFFFFF" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img src="https://via.placeholder.com/554x501/999999/FFFFFF" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img src="https://via.placeholder.com/554x501/999999/FFFFFF" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img src="https://via.placeholder.com/554x501/999999/FFFFFF" alt="beds image">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="into-beds__image">
                <img src="https://via.placeholder.com/554x501/999999/FFFFFF" alt="beds image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="into-beds__accordion-wrapper">
        <ul class="accordion" id="beds-accordion" data-cursor-type="plus">
          <li class="accordion__item active">
            <h4 class="accordion__title title title--xsm">Fine, natural fillings</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>We use only the purest natural materials to fill our mattresses. From the lightest pashmina to the finest new wool – comfort, moisture-wicking and breathability.</p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Biodegradable components</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>We use only the purest natural materials to fill our mattresses. From the lightest pashmina to the finest new wool – comfort, moisture-wicking and breathability.</p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Hand-tufting</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque numquam perspiciatis saepe totam?</p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Genuine pocketed springs</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur enim est expedita fugiat id illo laudantium neque perferendis, praesentium quas quis quo reiciendis repudiandae soluta ut vel, veniam voluptates?</p>
              </div>
            </div>
          </li>
          <li class="accordion__item">
            <h4 class="accordion__title title title--xsm">Belgian Damask ticking</h4>
            <div class="accordion__content" style="height: 0;">
              <div class="accordion__content-inner text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta excepturi illum impedit non numquam optio pariatur perferendis sequi vel veritatis.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
