<section class="mattresses header-style-white" data-cursor-color="white">
  <div class="container container--default">
    <div class="mattresses__heading">
      <h2 class="title title--md">the mattresses</h2>
      <div class="mattresses__pagination" id="mattresses-pagination"></div>
    </div>
  </div>
  <div class="mattresses__main-slider swiper-container" id="mattresses-content-slider">
    <div class="swiper-wrapper">
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">Next-level comfort</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>This is where sleeping properly starts. Made with 1000 pocketed springs, N o I supports your whole body and responds to every movement. It’s hand-filled with deep layers of wool and cotton to offer total comfort as well as breathability. And we tuft it by hand – keeping fibres in place so they don’t shift over time. No I is finished with a woven layer of Belgian Damask. Known as ticking, it offers a smooth and uninterrupted feel across the whole mattress.</p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Tecnology</h4>
                  <p>1000 pocketed springs</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Filled with natural fibres (wool and cotton)</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>Hand-tufted</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Turnable (sleep on either side)</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>10-year guarantee</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/999999/FFFFEF" alt="mattresses image">
                <span>NO.1</span>
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/657x501/991999/FFFEFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/380x501/999199/FFEFFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/500x501/999919/FEFFFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/199999/EFFFFF" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">Lorem ipsum dolor sit.</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aliquam autem commodi debitis maxime nam, quae qui quis tenetur. Doloremque eum minima quod? Eveniet excepturi nobis voluptatem! Cumque dolore doloremque earum eius repudiandae soluta?</p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Tecnology</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Lorem ipsum dolor sit amet.</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>Lorem ipsum dolor.</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>Lorem ipsum dolor.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/FFFFEF/949999" alt="mattresses image">
                <span>NO.2</span>
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/657x501/994119/FFFEFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/380x501/FFFFFF/111111" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/500x501/994919/FEFFCF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/EFEFEF/111222" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">Lorem ipsum dolor sit amet.</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A nesciunt porro voluptate? Assumenda, at impedit incidunt iure iusto labore maxime quasi quidem rerum sint sit suscipit vel voluptatibus. Aliquam assumenda atque blanditiis cupiditate est harum modi mollitia nostrum quis. Architecto blanditiis culpa dolorem fugiat in libero necessitatibus, porro sequi veniam?</p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Tecnology</h4>
                  <p>Lorem ipsum dolor sit amet.</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Lorem ipsum dolor sit amet, adipisicing.</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>Lorem ipsum dolor sit amet.</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>Lorem ipsum dolor sit.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/FAFFEF/999199" alt="mattresses image">
                <span>NO.3</span>
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/657x501/TFTFTF/AFFEFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/380x501/111199/FFFFFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/500x501/333111/FEFAFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/FFFAAA/EFAFFF" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mattresses__main-slide swiper-slide">
        <div class="container container--default">
          <div class="mattresses__description">
            <h3 class="mattresses__item-title title title--sm">Lorem ipsum dolor.</h3>
            <div class="mattresses__text">
              <div class="text-container">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deleniti dignissimos doloremque, earum est, exercitationem in ipsum libero modi nam non praesentium quae quisquam, quod quos recusandae sunt veniam voluptas?</p>
              </div>
            </div>
            <div class="mattresses__options">
              <ul>
                <li>
                  <h4>Tecnology</h4>
                  <p>Lorem ipsum dolor.</p>
                </li>
                <li>
                  <h4>Materials</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur.</p>
                </li>
                <li>
                  <h4>Method</h4>
                  <p>Lorem ipsum.</p>
                </li>
                <li>
                  <h4>Season</h4>
                  <p>Lorem ipsum dolor sit amet.</p>
                </li>
                <li>
                  <h4>Warranty</h4>
                  <p>Lorem ipsum dolor sit.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="mattresses__image-slider swiper-container" data-cursor-type="arrow-double">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/995999/FBFFEF" alt="mattresses image">
                <span>NO.4</span>
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/657x501/AAAAAA/FFFEBF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/380x501/515151/FBEFFF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/500x501/959919/FEFFBF" alt="mattresses image">
              </div>
              <div class="swiper-slide">
                <img src="https://via.placeholder.com/364x501/199959/EFFFBF" alt="mattresses image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
