<section class="intro">
  <div class="intro__bg">
    <picture>
{#      <source type="image/webp" srcset="/img/intro-bg.webp">#}
      <source type="image/jpeg" srcset="/img/45.jpg">
      <img src="/img/intro-bg.jpg" alt="intro background">
    </picture>
  </div>
  <div class="container container--default">
    <div class="intro__content">
      <h1 class="title">Sleep properly</h1>
      <div class="text-container">
        <p>J. Marshall by Vispring has four mattress designs, each with fine natural fillings for comfort and pocket springs for support. Sleep properly without the fuss. 100 years of bed-making expertise goes into each design for head-to-toe comfort, night after night. And it’s all backed up with a 10-year guarantee.</p>
      </div>
      <a class="intro__explore barba-prevent" data-scroll-to="#our-story" href="#our-story">explore</a>
    </div>
  </div>
</section>
