<section class="elevation" id="elevation-container">
  <div class="elevation__fixed-image" id="elevation-aside">
    <picture>
      <source type="image/webp" srcset="/img/divan.webp">
      <source type="image/jpeg" srcset="/img/divan.jpg">
      <img src="/img/divan.jpg" alt="the shallow divan">
    </picture>
  </div>
  <div class="elevation__scroll-content">
    <div class="container container--default">
      <div class="elevation__scroll-slide">
        <div class="elevation__scroll-image">
          <img src="https://via.placeholder.com/457x424/999999/FFFFFF" alt="divan part image">
        </div>
        <div class="elevation__scroll-text">
          <h2 class="title title--md">The shallow divan</h2>
          <div class="text-container">
            <p>We’ve designed a Shallow Divan that pairs with any of our four mattresses. The bed is finished with a padded upper surface to work with your mattress for even greater comfort. Plus there are three leg colours and 16 fabrics to choose from to make the bed suit your home. You can also choose from four sizes of headboard for even more customisation.</p>
          </div>
          <div class="elevation__scroll-spacer"></div>
          <h3 class="title title--xsm">Legs, 3 colours</h3>
          <div class="text-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet harum, laborum optio quasi quisquam quo similique? Accusamus dolorem, dolores doloribus facilis fugit illo, nobis pariatur, praesentium quis saepe sequi!</p>
          </div>
        </div>
      </div>
      <div class="elevation__scroll-slide">
        <div class="elevation__scroll-image">
          <img src="https://via.placeholder.com/457x424/999999/FFFFFF" alt="divan part image">
        </div>
        <div class="elevation__scroll-text">
          <h2 class="title title--md">The shallow divan</h2>
          <div class="text-container">
            <p>We’ve designed a Shallow Divan that pairs with any of our four mattresses. The bed is finished with a padded upper surface to work with your mattress for even greater comfort. Plus there are three leg colours and 16 fabrics to choose from to make the bed suit your home. You can also choose from four sizes of headboard for even more customisation.</p>
          </div>
          <div class="elevation__scroll-spacer"></div>
          <h3 class="title title--xsm">Legs, 3 colours</h3>
          <div class="text-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet harum, laborum optio quasi quisquam quo similique? Accusamus dolorem, dolores doloribus facilis fugit illo, nobis pariatur, praesentium quis saepe sequi!</p>
          </div>
        </div>
      </div>
      <div class="elevation__scroll-slide">
        <div class="elevation__scroll-image">
          <img src="https://via.placeholder.com/457x424/999999/FFFFFF" alt="divan part image">
        </div>
        <div class="elevation__scroll-text">
          <h2 class="title title--md">The shallow divan</h2>
          <div class="text-container">
            <p>We’ve designed a Shallow Divan that pairs with any of our four mattresses. The bed is finished with a padded upper surface to work with your mattress for even greater comfort. Plus there are three leg colours and 16 fabrics to choose from to make the bed suit your home. You can also choose from four sizes of headboard for even more customisation.</p>
          </div>
          <div class="elevation__scroll-spacer"></div>
          <h3 class="title title--xsm">Legs, 3 colours</h3>
          <div class="text-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet harum, laborum optio quasi quisquam quo similique? Accusamus dolorem, dolores doloribus facilis fugit illo, nobis pariatur, praesentium quis saepe sequi!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
