<div class="contact">
  <div class="contact__image">
    <picture>
      <source type="image/webp" srcset="/img/contact-page-bg.webp">
      <source type="image/jpeg" srcset="/img/contact-page-bg.jpg">
      <img src="/img/contact-page-bg.jpg" alt="contact page image">
    </picture>
  </div>
  <div class="container container--default">
    <div class="contact__content">
      <form action="" class="default-form">
        <label class="default-input">
          <input class="default-input__input" type="text" name="name" placeholder="Name">
          <span class="default-input__error"></span>
        </label>
        <label class="default-input">
          <input class="default-input__input" type="email" name="email" placeholder="Email">
          <span class="default-input__error"></span>
        </label>
        <label class="default-input">
          <textarea class="default-input__textarea" name="message" placeholder="Message"></textarea>
          <span class="default-input__error"></span>
        </label>
        <label class="default-checkbox">
          <input class="default-checkbox__input" type="checkbox" name="accept" required>
          <span class="default-checkbox__check"></span>
          <span class="default-checkbox__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, consectetur consequuntur distinctio dolores libero odit quae quod.</span>
        </label>
        {#<div class="default-form__error"></div>#}
        <div class="default-form__button">
          <button type="submit" class="button button--dark">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
