<div class="default-text-section">
  <div class="container container--type-2">
    <h1>Privacy Policy</h1>
    <p>Vispring Limited is committed to protecting your personal information and this Privacy Policy tells you how we collect your personal data, how we store it and how we use it. We ensure that we shall only use your information in line with all the applicable data protection laws, including the General Data Protection Regulation (GDPR).&nbsp; Your information will be held in a secure environment, and access to it will be restricted according to the “need to know” principle.</p>
    <p>&nbsp;</p>
    <h2>The information we collect about you</h2>
    <p>We process the personal data of retailers, customers, prospects, designers, architects, journalists, editors and bloggers. &nbsp;We may collect, store and use the following personal information about you:</p>
    <ul>
      <li>Information that you provide to us when registering your guarantee</li>
      <li>Information that you provide to us when requesting a brochure through our website</li>
      <li>Information that you provide to us to subscribing to our newsletter</li>
      <li>Information that you provide to us when contacting Vispring Customer Service team online.</li>
    </ul>
    <p>Please let us know if the personal data we hold about you needs to be corrected or updated.</p>
    <p>The data you provide to use includes:</p>
    <ul>
      <li>Name</li>
      <li>Address</li>
      <li>Postcode</li>
      <li>Country</li>
      <li>Company name</li>
      <li>Email address</li>
      <li>Mobile number</li>
      <li>How you heard about us</li>
      <li>Information contained in or relating to any communications that you send to us or send through our website, including the communication content and any metadata associated with the communication</li>
      <li>Any other personal information that you choose to send us, including business cards</li>
      <li>You may only pass us another individual’s personal data if you have that person’s consent to do so on the understanding that their personal data will be processed as described in this policy.</li>
    </ul>
    <p>We also collect information about your computer and about your visits to and use of this website.&nbsp; This includes collecting unique online identifies such as IP addresses, which are numbers that uniquely identify a specific computer or other device on the internet.&nbsp; Please see our Cookies section for more details.</p>
    <p>&nbsp;</p>
    <h2>How will we use your personal information</h2>
    <p>We shall use your personal data for the following purposes:</p>
    <ul>
      <li>To provide our services to you</li>
      <li>To provide you with information about these services, and to deal with enquiries and requests about them</li>
      <li>To refer you to suppliers of goods or services in which you have expressed an interest</li>
      <li>To send you marketing communications relating to our business which we believe to be of interest to you</li>
      <li>To send you email notifications and newsletters</li>
      <li>To administer our website, personalise it to you and keep it secure</li>
      <li>To enable suppliers of goods or services in which you have expressed an interest to contact you</li>
      <li>To prevent fraud</li>
      <li>To verify compliance with the terms and conditions governing the use of our website.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>Our legal basis for processing your personal information</h2>
    <p>We promise that we shall only use your data in the way you wish, and we shall always respect your privacy.&nbsp; We process your data under the following legal grounds:</p>
    <ul>
      <li>The processing is necessary to meet contractual obligations into which you have entered. Failure to provide mandatory data fields identified by a ‘*’ will mean that we shall be unable to deliver our services to you.</li>
      <li>The lawful justification for sending you marketing communications about our business, services and news is because we have a legitimate business interest for your data to be used for this specific purpose. You are in complete control of your data and can choose not to receive these messages, either when you first provide your data, or in every communication we send you afterwards.&nbsp; These marketing communications include:
        <ul>
          <li>Email notifications and letters where you have provided us with your email address</li>
          <li>Postal / telephone marketing, though we shall always check telephone numbers against the Telephone and Corporate Telephone Preference Services and will only make telephone calls to you where your number is listed if you have told us that we may do so.</li>
        </ul>
      </li>
      <li>We shall only pass your details to retailers who will be able to supply our products to you.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>Disclosing your personal data</h2>
    <p>Your information will be used by the following parties under our control:</p>
    <ul>
      <li>To workers who deliver our services</li>
      <li>Third parties who provide a service to us:
        <ul>
          <li>Customer, prospect, Interior Designer and retailer data to Mailchimp, who distributes our emails</li>
          <li>Customer and prospect data to our retailers who can supply our goods to you</li>
          <li>Customer and retailer data to supplier(s) who send fabric swatches</li>
          <li>Retailer data to printers who provide brochures and leaflets</li>
          <li>Retailer data to suppliers who send foot mats and pillowcases</li>
          <li>Retailer data to suppliers who send POS items.</li>
        </ul>
      </li>
    </ul>
    <p>We shall keep your personal data within Vispring and our trusted third parties except where disclosure is required by law, for example to government bodies and law enforcement agencies.</p>
    <p>&nbsp;</p>
    <h2>How long we keep your personal information</h2>
    <p>We shall not keep your personal data for any longer than is necessary. Where your information is no longer required or is no longer relevant, we will ensure it is disposed of securely.</p>
    <ul>
      <li>The information you supply in your Guarantee form will be held for 30 years, at which point it will be securely deleted / anonymised / pseudonymised to ensure that you can no longer be identified.</li>
      <li>Retailer personal details for marketing information will be held for a period of 10 years since your last interaction with us.</li>
      <li>Customer personal details for marketing information will be held for a period of 10 years since your last interaction with us.</li>
      <li>To make sure that you do not receive marketing from us after you have told us to stop sending it, we need to keep a record of that instruction with your contact details. We shall hold that information until you tell us otherwise.</li>
      <li>Where necessary, we shall keep your personal data for as long as required to do so by law; and where required to establish, exercise or defend our legal rights.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>Your rights and control over your personal data</h2>
    <p>Under the General Data Protection Regulation, you have the right to:</p>
    <ul>
      <li>Access your personal data by making a subject access request</li>
      <li>Rectification, erasure or restriction of your information where this is justified</li>
      <li>Object to the processing of your information where this is justified</li>
      <li>Data portability</li>
      <li>The right to lodge a complaint with a supervisory authority.</li>
    </ul>
    <p>To exercise any of these rights, please contact the Vispring Data Compliance Officer at the address below.</p>
    <p>&nbsp;</p>
    <h2>Data Transfers</h2>
    <p>Your personal data may be stored, processed, and transferred outside the EEA so that we can use your personal data as described in this policy. &nbsp;We will make sure that any transfers of your personal information from one country to another comply with those data protection and privacy laws which apply to us. European data protection laws include specific rules on transferring personal information outside the EEA.</p>
    <p>When transferring personal information outside the EEA, we will:</p>
    <ul>
      <li>include standard data protection clauses approved by the European Commission for transferring personal information outside the EEA into our contracts with those third parties (these are the clauses approved under Article 46.2 of the General Data Protection Regulation (GDPR)); or</li>
      <li>ensure that the country in which your personal information will be handled has been deemed “adequate” by the European Commission under Article 45 of the GDPR.</li>
    </ul>
    <p>&nbsp;</p>
    <h2>Third-Party Websites</h2>
    <p>Our website may contain links to and details of other websites that are outside our control and are not covered by this Privacy Policy. If you access other sites using the links provided, the operators of these sites may collect information from you that will be used by them in accordance with their privacy policy, which may differ from ours.&nbsp; It will be helpful for you to read their Privacy Policy before providing them with your personal data.</p>
    <p>&nbsp;</p>
    <h2>Privacy and Cookies</h2>
    <p>We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website.</p>
    <p>Cookies are small text files which are stored on your computer when you visit certain web pages. At Vispring we use cookies to understand how our sites are used which helps us to improve your overall online experience. Some of the cookies we use are necessary for some of our sites to work whilst other cookies are used to provide tailored advertising by trusted third parties. To find out more about cookies, visit www.aboutcookies.org</p>
    <p>Cookies do not typically contain any information that identifies a user, but other information that we hold about you may be linked to the information stored in, and obtained from, cookies.</p>
    <h2>Strictly necessary</h2>
    <ul>
      <li>These cookies are essential for certain features of our websites to work These cookies do not record identifiable personal information and we do not need your consent to place these cookies on your device. Without these cookies some services you have asked for cannot be provided.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li>
        <strong>Performance</strong>
        – These cookies are used to collect anonymous information about how you use our websites. We use Google Analytics to help us understand our website and how the website it used, and to understand how effective our advertising is. We use this information to help us improve our websites and digital advertising. Google Analytics does not identify individual users or associate your IP address with any other data held by Google. You can read their privacy policy at http://www.google.com/policies/privacy/.
      </li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li>
        <strong>Functionality</strong>
        – These cookies are used to provide services or remember settings to enhance your visit, for example text size or other preferences. The information these cookies collect is anonymous and does not enable us to track your browsing activity on other websites.
      </li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li>
        <strong>Targeting and Advertising</strong>
        – These cookies are used by trusted third parties to deliver adverts more relevant to you and your interests. They are also used to limit the number of times you see an advertisement as well as help measure the effectiveness of the advertising campaign. Information contained in these cookies is anonymous and doesn’t contain your personal information. To find out more about cookies used for targeting and advertising follow youronlinechoices.com and www.networkadvertising.org.
      </li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li>
        <strong>Session Cookies and Persistent Cookies</strong>
      </li>
    </ul>
    <p>Session cookies expire when you close your browser or if you stay inactive for a certain time.&nbsp; Persistent cookies will persist even after the browser is closed. They are used to remember you so that you don’t have to re-enter, for example, log-in information every time you revisit our website.</p>
    <ul>
      <li>
        <strong>Managing cookies</strong>
      </li>
    </ul>
    <p>If you’d prefer to restrict, block or delete cookies placed by our website, you can use your browser to do this. Each browser is different, so check the ‘Help’ menu of your particular browser to learn how to change your cookie preferences. If you choose to disable all cookies we cannot guarantee the performance of our websites and some features may not work as expected.</p>
    <p>&nbsp;</p>
    <h2>Translations</h2>
    <p>This privacy policy has been translated from English into the official language of several different countries. We have done this to make sure that the policy is clear and accessible to all users of our websites, apps and connected products in the countries in which we operate.<br> If there are any conflicts or inconsistencies between the translated versions of this privacy policy, the English version will prevail.</p>
    <p>&nbsp;</p>
    <h2>Contact Us</h2>
    <p>We are registered as a Data Controller with the UK Information Commissioner’s Office, under registration number Z8620948.</p>
    <p>This website is owned and operated by Vispring Ltd, registered in England and Wales under registration number 71430, and our registered office is at Ernesettle Lane, Ernesettle, Plymouth, PL5 2TT, United Kingdom.&nbsp; This is our principle place of business.</p>
    <p>If you have any questions about this policy or your personal data, please contact:</p>
    <ul>
      <li>Vispring Data Compliance Officer</li>
      <li>Vispring Ltd</li>
      <li>
        <a href="mailto:privacy@vispring.com">privacy@vispring.com</a></li>
      <li>
        <a href="tell:01752366311">01752 366311</a></li>
    </ul>
    <p>&nbsp;</p>
  </div>
</div>
