.button-now {
  font-size: rem-calc(20);
  font-weight: 500;
  letter-spacing: 0.045em;
  text-transform: uppercase;


  span {
    display: inline-block;
    margin-left: 0.15em;
    animation-name: flashing;
    animation-duration: 850ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0.1;
  }

  @keyframes flashing {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 0.5
    }
  }
}

.button {
  font-size: rem-calc(14);
  font-weight: 500;
  width: 100%;
  padding: rem-calc(10 10);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $color-1;
}

.button--white {

}
