.contact {
  padding-bottom: 65px;
  @include laptop {
    padding-bottom: 45px;
  }
  @include tablet {
    padding: 36px 0 16px;
  }
  @include mobile {
    padding: 40px 0 8px;
  }

  &::before {
    right: -170px;
    top: 232px;
    @include tablet {
      top: 162px;
      right: -110px;
    }
    @include mobile {
      right: -60px;
      top: 580px;
    }
  }

  .section-inner {
    flex-direction: column;
    @include laptop {
      width: 850px;
      margin: 0 auto;
    }
    @include tablet {
      width: 100%;
      padding: 0 20px;
    }
    @include mobile {
      padding: 0;
    }
  }

  .paragraph:last-of-type {
    margin-bottom: 108px;
    @include tablet {
      margin-bottom: 58px;
    }
    @include mobile {
      margin-bottom: 40px;
    }
  }
}

.contact-text {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  @include tablet {
    width: 570px;
  }
  @include mobile {
    width: 100%;
  }

  .heading {
    color: $color-4;
  }
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 90%;
  @include tablet {
    width: 80%;
  }
  @include mobile {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.contact-form {
  margin-right: 122px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  @include laptop {
    margin-right: 80px;
  }
  @include tablet {
    margin-right: 80px;
  }
  @include mobile {
    margin-right: 0;
  }
}

.contacts {
  @include tablet {
    margin-top: 10px;
  }
  @include mobile {
    text-align: center;
  }

  &__item {
    margin-bottom: 26px;
    font: {
      size: 16px;
      weight: 300;
    }
    line-height: 24px;
    @include tablet {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 18px;
    }

    &:nth-last-child(-n+2) {
      @include tablet {
        margin-bottom: 34px;
      }
      @include mobile {
        margin-bottom: 18px;
      }
    }
  }

  &__address {
    display: block;
  }

  &__link {
    display: inline-block;
  }
}

.form-col {
  @include tablet {
    width: 100%;
  }
}

.form-input {
  margin-bottom: 45px;
  width: 244px;
  @include tablet {
    margin-bottom: 40px;
    width: 274px;
  }
  @include mobile {
    width: 100%;
  }

  &:last-of-type {
    margin-bottom: 17px;
    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__field {
    border-bottom: 1px solid $color-3;
    resize: none;
    color: $color-3;
    width: 244px;
    height: 26px;
    font: {
      size: 16px;
      weight: 300;
    };
    line-height: 24px;
    @include tablet {
      width: 274px;
      font-size: 13px;
      line-height: 18px;
    }
    @include mobile {
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: $color-3;
    }
    &::-moz-placeholder {
      color: $color-3;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $color-3;
    }
    &:-moz-placeholder {
      color: $color-3;
    }

    &:focus::placeholder {
      color: transparent;
    }

    &:focus {
      border-color: $color-4;
    }
  }

  &__checkbox {
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 32px;
    }
  }

  &__check {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font: {
        size: 9px;
        weight: 500;
      };
      line-height: 12px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      @include tablet {
        font-size: 9px;
      }
    }

    & + label:before {
      content: '';
      margin-right: 13px;
      margin-top: -2px;
      display: inline-block;
      vertical-align: text-top;
      width: 15px;
      height: 15px;
      background: $color-2;
      border: 1px solid $color-3;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 2px;
      top: 6px;
      background: $color-2;
      width: .18em;
      height: .18em;
      box-shadow:
              2px 0 0 $color-3,
              4px 0 0 $color-3,
              4px -2px 0 $color-3,
              4px -4px 0 $color-3,
              4px -6px 0 $color-3,
              4px -8px 0 $color-3;
      transform: rotate(45deg);
    }
  }
}