.cursor {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; // will show on mousemove event
  pointer-events: none;

  &.visible {
    display: block;
  }

  &__pointer {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -3px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    transition: transform $time-md, background 100ms;
  }

  &[data-cursor-type="link"] {

    .cursor__pointer {
      transform: scale(1.3);
    }
  }

  &[data-cursor-color="dark"] {

    .cursor__pointer {
      background: #fff;
    }
  }
}
