.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  @include tablet {
    padding-bottom: 8px;
  }
  @include mobile {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 16px;
  }

  &__item {
    @include mobile {
      margin-bottom: 30px;
    }

    &:nth-of-type(2) {
      margin-left: 70px;
      @include mobile {
        margin-left: 0;
      }
    }

    &:nth-last-child(-n+2) {
      @include mobile {
        margin-bottom: 36px;
      }
    }

    &:last-of-type {
      @include mobile {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    color: $color-3;
    background: linear-gradient(to right, orange, orange 50%, $color-3 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    margin: 0 20px;

    &:hover {
      background-position: 0 100%;
    }
  }

  &__text {
    display: inline-block;
    line-height: 20px;
    font-size: 12px;
    color: $color-3;
    @include tablet {
      font-size: 10px;
      line-height: 20px;
    }
    @include mobile {
      font-size: 12px;
    }
  }

  &__icon {
    margin-right: 13px;
    position: relative;
    top: 2px;
    @include laptop {
      margin-right: 11px;
      position: relative;
      top: 2px;
    }
    @include tablet {
      margin-right: 6px;
    }
  }

  &__img {
    width: 128px;
    height: 79px;
    @include tablet {
      width: 97px;
      height: 59px;
    }
    @include mobile {
      width: 94px;
      height: 57px;
    }
  }
}