.footer {
  background: $color-1;
  padding: rem-calc(250 0 120);
  margin-top: rem-calc(-100);

  @media (max-width: $md) {
    padding: rem-calc(200 0 100);
  }

  &__inner {
    display: flex;
    margin: rem-calc(0 -30);

    @media (max-width: $md) {
      flex-wrap: wrap;
    }

    @media (max-width: $xsm) {
      margin: 0;
    }
  }

  &__col {
    width: 33.3333%;
    padding: rem-calc(0 30);

    @media (max-width: $md) {
      width: 50%;
    }

    @media (max-width: $xsm) {
      width: 100%;
    }
  }

  &__col--nav {

    @media (max-width: $md) {
      order: 1;
    }

    @media (max-width: $xsm) {
      margin-bottom: rem-calc(80);
    }
  }

  &__col--logo {
    display: flex;
    flex-direction: column;

    @media (max-width: $md) {
      width: 100%;
      order: 3;
      padding-top: rem-calc(80);
      flex-direction: row;
    }

    @media (max-width: $xsm) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__col--contacts {
    margin-top: rem-calc(10);

    @media (max-width: $md) {
      order: 2;
    }
  }

  &__logo {
    transition: opacity $time-sm;
    margin-bottom: rem-calc(50);

    @media (max-width: $md) {
      margin-bottom: 0;
      width: 50%;
    }

    @media (max-width: $xsm) {
      width: 100%;
      margin-bottom: rem-calc(40);
    }

    &:hover {
      opacity: 0.7;
    }

    img {
      width: rem-calc(200);
    }
  }

  &__inc {
    margin-top: auto;
    color: $color-6;
    font-size: rem-calc(14);
    line-height: 1.3em;

    @media (max-width: $md) {
      width: 50%;
      margin-top: 0;
      padding-left: rem-calc(30);
    }

    @media (max-width: $xsm) {
      padding-left: 0;
      width: 100%;
    }
  }

  &__contacts {
    font-size: rem-calc(14);
    line-height: 1.3em;
    color: $color-6;

    li {
      margin-bottom: rem-calc(50);

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      transition: color $time-sm;

      &:hover {
        color: $color-2;
      }
    }

    svg {
      width: rem-calc(27);
      height: rem-calc(20);
      stroke: $color-2;
      margin-bottom: rem-calc(10);
    }
  }

  &__nav {
    color: $color-5;
    line-height: 1.4em;
    font-weight: 700;

    li {
      margin-bottom: rem-calc(35);

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      transition: color $time-sm;

      &:hover {
        color: $color-2;
      }
    }
  }
}
