.founder {
  display: flex;
  align-items: center;

  @media (max-width: $lg) {
    display: block;
    width: rem-calc(270);
  }

  &__img-wrapper  {
    width: rem-calc(270);
    margin-bottom: rem-calc(20);
  }

  &__img {
    display: block;
    position: relative;
    padding-top: 73%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding-left: rem-calc(22);

    @media (max-width: $lg) {
      padding-left: 0;
    }
  }
}
