.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__container {
    padding: rem-calc(50 0 10);
    transition: transform $time-sm;
    transform: translate3d(0, 0, 0);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background: $color-2;
      transition: opacity $time-sm;
    }
  }

  &__container-lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity $time-sm;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  &__logo {
    transition: opacity $time-sm, transform $time-sm;
    transform-origin: 0 50%;
    position: relative;
    transform: scale3d(1, 1, 1);
    z-index: 1;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: rem-calc(260);
    }
  }

  &__social {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    padding-left: 1px;

    @media (max-width: $xl) {
      display: none;
      width: 100%;
    }

    &--mobile {
      display: none;

      @media (max-width: $xl) {
        display: flex;
      }
    }

    li {
      margin: rem-calc(15 42 15 0);

      @media (max-width: $xl) {

        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: $sm) {
        margin: rem-calc(15 39 15 0);
      }
    }

    a {
      opacity: 0.5;
      transition: opacity $time-sm;
      will-change: opacity;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      width: rem-calc(20);
      height: rem-calc(20);
      fill: $color-5;
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    background: $color-2;
    pointer-events: none;
    opacity: 0;
    transition: opacity $time-md ease-in-out;

    &.open {
      pointer-events: auto;
      opacity: 1;
    }

    .container {
      height: 100%;
    }
  }

  &__menu-inner {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 50%;
    overflow: auto;

    @media (max-width: $xl) {
      padding-left: 0;
    }
  }

  &__nav-list {
    color: $color-5;
    font-size: rem-calc(24);
    font-weight: 700;
    padding: rem-calc(100 0 50);

    a {
      display: inline-block;
      padding: rem-calc(10 0);

      span {
        pointer-events: none;
        display: inline-block;
        transition: transform $time-sm ease-in-out $time-sm/2;
      }

      &:hover {

        span {
          transition: transform $time-sm ease-in-out;
          transform: translate3d(10px, 0, 0)
        }
      }
    }
  }

  &__burger {
    position: absolute;
    left: calc(100% - 1px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;

    @media (max-width: $sm) {
      left: auto;
      right: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
    }

    svg {
      width: rem-calc(24);
      height: rem-calc(19);
      fill: $color-5;

      rect {
        transition: opacity $time-sm, transform $time-sm;

        &:nth-child(4),
        &:nth-child(5) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: scaleX(0.5);
        }
      }
    }

    &:hover {

      svg {

        rect {

          &:nth-child(3) {
            transform: scaleX(0.5) translateX(100%);
          }
        }
      }
    }

    &.open {

      svg {

        rect {

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            opacity: 0;
          }

          &:nth-child(4),
          &:nth-child(5) {
            opacity: 1;
          }
        }
      }
    }
  }

  &--small {

    .header__logo {
      transform: scale3d(0.8, 0.8, 1);
    }

    .header__container {
      transform: translate3d(0, rem-calc(-40), 0);

      &::before {
        opacity: 1;
      }
    }

    .header__container-lines {
      opacity: 1;
    }
  }
}
