#nav-list-mobile {
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  transition: opacity 1000ms;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }

  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 100px 0;
    overflow: auto;
    flex-wrap: wrap;
  }

  a {
    display: inline-block;
    padding: 35px;
  }
}

#lang-mobile {
  font-weight: 500;
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 50px;
  transition: opacity 1000ms;
  pointer-events: none;
  opacity: 0;

  #lang-mobile-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    &.active {
      pointer-events: auto;
    }
  }

  .lang-mobile-inner {
    position: relative;
  }

  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}
