.search {
  position: relative;
  padding: rem-calc(170 0 120);

  @media (max-width: $md) {
    padding: rem-calc(130 0 100);
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__text-col {
    width: 50%;
    padding-right: 30px;

    @media (max-width: $sm) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__text {
    max-width: 500px;
    margin-bottom: rem-calc(60);
  }

  &__image-col {
    width: 50%;

    @media (max-width: $sm) {
      width: 100%;
    }

    img  {
      width: 100%;
      margin-left: -10%;
      margin-top: rem-calc(110);

      @media (max-width: $xl) {
        width: 110%;
        max-width: 110%;
      }

      @media (max-width: $lg) {
        margin-left: 0;
        margin-right: -10%;
        width: 110%;
        max-width: 110%;
      }

      @media (max-width: $sm) {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-top: rem-calc(60);
      }
    }
  }
}
