.partners {
  padding: rem-calc(130 0 120);

  @media (max-width: $md) {
    padding: rem-calc(100 0);
  }

  &__bg {
    background: $color-1;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(60 -15 0);
  }

  &__item {
    width: 25%;
    padding: rem-calc(15);

    @media (max-width: $sm) {
      width: 50%;
    }
  }

  &__item-inner {
    position: relative;
    padding-top: 60%;
    display: block;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity $time-sm;
    }

    &:hover {

      img {
        opacity: 0.8;
      }
    }
  }
}
