.videos {
  padding: rem-calc(130 0 110);

  @media (max-width: $md) {
    padding: rem-calc(100 0);
  }

  &__bg {
    background: $color-1;
  }

  &__slide {
    position: relative;
    width: 564px;
    max-width: 100%;
    font-size: 0;

    video {
      width: 564px;
      max-width: 100%;
    }
  }

  &__play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    svg {
      width: rem-calc(63);
      height: rem-calc(63);
      stroke: $color-3;
      fill: none;
      stroke-width: 4px;
      transition: stroke $time-sm;
    }

    &:hover {

      svg {
        stroke: $color-5;
      }
    }

  }
}
