.papers {
  position: relative;
  padding: 15rem 0;
  margin: -23.5rem 0 -15rem;
  overflow: hidden;
  z-index: 2;

  .container {
    position: relative;
    height: 100%;
  }

  &__bg-wrapper {
    position: absolute;
    top: 15.5rem;
    left: 0;
    right: 0;
    bottom: 15rem;
    overflow: hidden;

    @media (max-width: $md) {
      top: 17rem;
    }

    @media (max-width: $xsm) {
      top: 12rem;
    }
  }

  &__bg {
    height: 100%;
    margin-left: -50vw;
    background: $color-2;

    @media (max-width: $md) {
      margin: 0 -45px;
    }

    @media (max-width: $sm) {
      margin: 0 -30px;
    }
  }

  &__inner {
    padding: rem-calc(100 0);
    height: 100%;
    min-height: rem-calc(310);
    display: flex;
    position: relative;

    @media (max-width: $xsm) {
      padding: rem-calc(100 0 90);
    }
  }

  &__doc-image-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0.1;

    @media (max-width: $xsm) {
      left: -30px;
    }

    img {
      position: absolute;
      bottom: rem-calc(-40);
      left: 0;
      width: rem-calc(240);
    }
  }

  &__text-box {
    width: 50%;
    display: flex;
    color: $color-5;
    position: relative;

    @media (max-width: $xl) {
      width: 60%;
    }

    @media (max-width: $md) {
      display: block;
    }

    @media (max-width: $xsm) {
      width: 70%;
    }

    h2 {
      margin-top: -1em;

      @media (max-width: $md) {
        margin-top: 0;
        margin-bottom: 1.2em;
      }
    }

    p {
      padding-left: 30px;
      max-width: 330px;
      margin-left: auto;

      @media (max-width: $md) {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    text-align: center;
    transform: translateY(50%);

    @media (max-width: $lg) {
      text-align: left;
      width: 100%;
    }

    @media (max-width: $xsm) {
      text-align: center;
    }
  }

  &__image-box {
    width: 50%;
    position: relative;

    @media (max-width: $xl) {
      width: 40%;
    }

    @media (max-width: $xsm) {
      width: 30%;
    }

    img {
      position: absolute;
      width: 119%;
      max-width: 119%;
      top: 50%;
      left: 50%;
      transform: translate(-54%, -38%);
      pointer-events: none;

      @media (max-width: $xl) {
        transform: translate(-54%, -50%);
        left: 60%;
        width: 500px;
        max-width: 500px;
      }

      @media (max-width: $lg) {
        transform: translate(-54%, -50%);
        left: 65%;
        width: 500px;
        max-width: 500px;
      }

      @media (max-width: $sm) {
        width: 400px;
        max-width: 400px;
      }

      @media (max-width: $xsm) {
        transform: translate(-48%, -70%);
      }
    }
  }
}
