.quotes-slider {
  margin-top: rem-calc(-45);
  overflow: hidden;

  &__inner {
    position: relative;
    z-index: 2;
    padding: rem-calc(90 0 80);

    @media (max-width: $md) {
      padding: rem-calc(90 0 100);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__bg-substrate {
    position: absolute;
    top: 0;
    left: 0;
    right: -50vw;
    bottom: 0;
    background: $color-2;

    @media (max-width: $md) {
      right: -45px;
      left: -45px;
    }

    @media (max-width: $sm) {
      right: -30px;
      left: -30px;
    }
  }

  &__quote-icon {
    position: absolute;
    top: rem-calc(65);
    left: rem-calc(55);
    width: rem-calc(82);

    @media (max-width: $md) {
      top: rem-calc(50);
      left: 0;
    }
  }

  &__logo {
    position: absolute;
    bottom: rem-calc(-90);
    right: rem-calc(95);
    width: rem-calc(293);
    height: rem-calc(342);
    opacity: 0.1;

    @media (max-width: $md) {
      right: -45px;
      bottom: -18vw;
      width: calc(100vw - 30px);
      max-width: 400px;
      height: auto;
    }

    @media (max-width: $sm) {
      right: -30px;
    }
  }

  &__pagination {
    position: absolute;
    top: calc(50% - 25px);
    right: -15px;
    transform: translateY(-50%);
    z-index: 2;

    @media (max-width: $md) {
      top: auto;
      right: 50%;
      bottom: rem-calc(37);
      transform: translateX(50%);
      flex-direction: row;
    }
  }

  .swiper-container {

    @media (max-width: $md) {
      overflow: visible;
    }
  }

  .swiper-slide {
    opacity: 0;
    transition: opacity $time-md $time-sm / 2;

    &.swiper-slide-active {
      opacity: 1;
      transition: opacity $time-md $time-sm;
    }
  }

  &__slide {
    padding: rem-calc(0 30 0 195);

    @media (max-width: $md) {
      padding: rem-calc(70 0 0);
    }

    p {
      max-width: 850px;
      color: $color-5;
      font-size: rem-calc(32);
      line-height: 1.44em;
      font-weight: 700;
      letter-spacing: 0.035em;

      @media (max-width: $sm) {
        font-size: rem-calc(23);
      }
    }
  }
}
