.section-intro {
  height: 100vh;

  &__bg {
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-2;
      z-index: 5;
      opacity: 0.5;
      //display: none;
    }
  }

  &__bg-video, &__bg-video-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
  }

  &__bg-video {
    //display: none;
  }

  &__bg-video-text {
    mask-image: url('../img/Trust.svg');
    mask-repeat: no-repeat;
    mask-size: calc(1370px - 100px) auto;
    mask-position: 50% calc(35% + 50px);
    z-index: 2;
    transform: translate(50px, -50px);
    //display: none;

    @media (max-width: 1370px) {
      mask-size: calc(100% - 100px) auto;
      mask-position: calc(100% - 50px) calc(35% + 50px);
    }

    @media (max-width: $lg) {
      mask-size: calc(100% - 60px) auto;
    }

    @media (max-width: $md) {
      mask-size: calc(100% - 45px) auto;
      mask-position: calc(100% - 45px) calc(35% + 50px);
      transform: translate(45px, -45px);
    }

    @media (max-width: $sm) {
      mask-size: calc(100% - 30px) auto;
      mask-position: calc(100% - 30px) calc(35% + 50px);
      transform: translate(30px, -30px);
    }

    @include target-ie11 {
      display: none;
    }

    @include target-edge {
      display: none;
    }
  }

  &__content {
    height: 100%;
    color: $color-5;
  }

  &__content-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    padding: rem-calc(300 0 100);
    position: relative;

    @media (max-height: 850px) {
      padding: 20vh 0 10vh;
    }
  }

  &__content-inner {

    h1 {
      font-size: rem-calc(58);
      letter-spacing: 0.03em;
      font-weight: 900;
      line-height: 1.2em;
      text-transform: uppercase;
      max-width: rem-calc(450);
      margin-bottom: rem-calc(20);

      @media (max-width: $xsm) {
        font-size: 10.8vw;
      }
    }

    p {
      font-size: rem-calc(22);
      letter-spacing: 0.045em;
      line-height: 1.2em;
    }
  }

  &__scroll-down {
    position: absolute;
    left: -10px;
    right: 0;
    bottom: rem-calc(100);
    display: flex;
    justify-content: space-between;
  }

  &__scroll-down-icon {
    padding: 10px;
    cursor: pointer;
    position: relative;

    @media (max-width: $lg) {
      visibility: hidden;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    svg {
      width: rem-calc(14);
      height: rem-calc(20);
      fill: $color-3;
      transition: fill $time-sm, transform $time-sm;
    }

    &:hover {

      svg {
        fill: $color-5;
        transform: translateY(3px);
      }
    }
  }

  &__scroll-down-text {
    font-size: rem-calc(14);
    height: 1em;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.5;
    transform: rotate(90deg) translate(1.3em, 0.15em);
    transform-origin: 100% 100%;

    @media (max-width: $xl) {
      transform: rotate(90deg) translate(1.3em, 0.2em);
    }

    @media (max-width: $lg) {
      transform: rotate(90deg) translate(1.3em, 0.25em);
    }
  }
}
