.simple-slider {

  &__heading {
    display: flex;
    align-items: flex-end;
    margin-bottom: rem-calc(35);

    @media (max-width: $lg) {
      display: block;
    }

    @media (max-width: $xsm) {
      margin-bottom: rem-calc(15);
    }
  }

  &__text {
    width: calc(50% + 100px);

    @media (max-width: $lg) {
      width: 100%;
    }
  }

  &__controls {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: rem-calc(70);
    padding-bottom: rem-calc(30);

    @media (max-width: $lg) {
      padding-bottom: 0;
      width: 100%;
      padding-right: 0;
    }
  }

  &__below {
    margin-top: rem-calc(90);
    margin-right: rem-calc(100);
    text-align: right;

    @media (max-width: $lg) {
      margin-right: 0;
      margin-top: rem-calc(65);
    }

    @media (max-width: $xsm) {
      margin-top: rem-calc(50);
    }
  }
}
