.story {
  padding-bottom: 200px;
  @include laptop {
    padding-bottom: 160px;
  }
  @include tablet {
    padding-bottom: 130px;
  }
  @include mobile {
    padding-bottom: 110px;
  }

  &__blockquote {
    width: 240px;
    @include tablet {
      width: 318px;
      margin: 44px auto 0;
      text-align: center;
    }
    @include mobile {
      width: 250px;
      margin: 0 auto;
    }
  }

  .section-inner {
    flex-wrap: wrap;
  }
}

.story-img {
  width: 512px;
  height: 755px;
  @include laptop {
    width: 453px;
    height: 670px;
  }
  @include tablet {
    width: 315px;
    height: 465px;
  }
  @include mobile {
    width: 197px;
    height: 291px;
    margin-bottom: 25px;
  }
}

.story-text {
  width: 390px;
  @include tablet {
    width: 218px;
  }
  @include mobile {
    width: 100%;
  }
}

.story-description {
  margin-bottom: 68px;
  @include mobile {
    margin-bottom: 54px;
  }

  &__paragraph {
    @include laptop {
      width: 350px;
    }
    @include tablet {
      width: 100%;
    }
  }
}