{% import "mixins/_buttons.twig" as button %}
{% import "mixins/_vertical-lines.twig" as lines %}

<!doctype html>
<html lang="en">

{% include "./_head.twig" %}

<body data-barba="wrapper" style="overflow: hidden; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
{% if homePage %}background:#737373;
{% elseif contactPage %}background:#999999;
{% else %}background:#fff;
{% endif %}
    ">
{% include "blocks/_header.twig" %}
{% include "blocks/_cursor.twig" %}
<main data-barba="container" data-barba-namespace="{{nameSpace}}" id="page-blur-filter" style="filter: blur(20px) brightness(80%); -webkit-filter: blur(20px) brightness(80%);">
  {% include "blocks/_mouse-back-follower.twig" %}
  {% block content %}{% endblock %}
</main>

{#{% include "blocks/_svg-defs.twig" %}#}

<script src="/js/app.js"></script>

</body>
</html>
