<form
  class="js-subscribe-form"
  action="https://CHANGEME.com/subscribe/post-json?u=CHANGEME&id=CHANGEME&c=callback"
  name="mc-embedded-subscribe-form"
  method="post"
  target="_blank" >

  <input
    class="form-group__field"
    type="email"
    name="EMAIL"
    placeholder="Email address"
    pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
    required
    >

  <div style="position:absolute;left:-5000px;" aria-hidden="true">
    <input
      type="text"
      class="js-validate-robot"
      name="b_5970db50e952cca9b293d898f_f70cb7f993"
      tabindex="-1"
      value="">
  </div>

  <input type="submit">
</form>