<section class="hero">
  <div class="hero__top">
    <div class="hero__top-inner">
      <div class="hero__top-left">
        <div class="hero__item">
          <a href="#" class="hero__item-link"></a>
          <h2 class="hero__item-title">Tesla raises Full Self-Driving price to $15,000</h2>
          <div class="hero__item-img" style="background-image: url(https://electrek.co/wp-content/uploads/sites/3/2021/08/Tesla-Full-Self-Driving-Beta-Hero.jpg?quality=82&strip=all&w=1600);"></div>
        </div>
      </div>
      <div class="hero__top-right">
        <div class="hero__item hero__item--medium">
          <a href="#" class="hero__item-link"></a>
          <h2 class="hero__item-title">Rivian update includes ‘Camp Mode’</h2>
          <div class="hero__item-img" style="background-image: url(https://electrek.co/wp-content/uploads/sites/3/2022/09/Rivian-Camp-Mode.jpg?quality=82&strip=all&w=1400);"></div>
        </div>
        <div class="hero__item hero__item--small">
          <a href="#" class="hero__item-link"></a>
          <h2 class="hero__item-title">Polestar on track to deliver 50k EVs</h2>
          <div class="hero__item-img" style="background-image: url(https://electrek.co/wp-content/uploads/sites/3/2022/09/Polestar-2022-revenue.jpg?quality=82&strip=all&w=1400);"></div>
        </div>
        <div class="hero__item hero__item--small">
          <a href="#" class="hero__item-link"></a>
          <h2 class="hero__item-title">CSC RX1E e-motorcycle coming to US riders</h2>
          <div class="hero__item-img" style="background-image: url(https://electrek.co/wp-content/uploads/sites/3/2022/09/csc-rx1e-header.jpg?quality=82&strip=all&w=1590);"></div>
        </div>
      </div>
    </div>
  </div>
</section>