<section class="hero">
	<video class="hero__video-bg" autoplay="" muted="" loop="" id="myVideo">
		<source src="../../../img/hero/bg-video.mp4" type="video/mp4">
		Your browser does not support HTML5 video.
	</video>
	<div class="container">
		<div class="hero__content">
			<h1>Improving the day
				to day business of our customers</h1>
		</div>
	</div>
</section>