.wrapper {
  padding: 0 $wrap-lg;
  @include tabletMaxi {
    padding: 0 $wrap-md;
  }
  @include mobile {
    padding: 0 $wrap-sm;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: $container;
}
