.wrapper {
  padding: 0 $wrap-lg;
  @media (max-width: $lg) {
    padding: 0 $wrap-md;
  }
  @media (max-width: $sm) {
    padding: 0 $wrap-sm;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: $container;
}
